.silo-blk
    h3.silo-ttl dashboard object
    .chart-list.owl-carousel
        .chart-itm
            figure
                img(src="./uploads/silodata/temp_1.jpg", alt="")
        .chart-itm
            figure
                img(src="./uploads/silodata/temp_1.jpg", alt="")
        .chart-itm
            figure
                img(src="./uploads/silodata/temp_1.jpg", alt="")
        .chart-itm
            figure
                img(src="./uploads/silodata/temp_1.jpg", alt="")
// END: Silo blk
.silo-blk.has-gallery.has-srch
    h3.silo-ttl silodata object
    .silo-srch
        input.form-control.ip-srch(type="text", placeholder="Rechercher")
        a.silo-btn.btn(href="javascript:;")
            i.fa.fa-search
    .silo-list.row
        .col-lg-3.col-sm-4.col-xs-6.silo-itm
            figure
                img(src="./uploads/silodata/temp_2.jpg", alt="")
            .silo-info.info-blue
                h4 DORTE
                p.silo-date Scene - 14 April, 2016
        .col-lg-3.col-sm-4.col-xs-6.silo-itm
            figure
                img(src="./uploads/silodata/temp_2.jpg", alt="")
            .silo-info.info-orange
                h4 DORTE
                p.silo-date Scene - 14 Sept, 2016
        .col-lg-3.col-sm-4.col-xs-6.silo-itm
            figure
                img(src="./uploads/silodata/temp_2.jpg", alt="")
            .silo-info.info-green
                h4 DORTE
                p.silo-date Scene - 15 Oct, 2016
        .col-lg-3.col-sm-4.col-xs-6.silo-itm
            figure
                img(src="./uploads/silodata/temp_2.jpg", alt="")
            .silo-info.info-orange
                h4 DORTE
                p.silo-date Vene - 14 April, 2017
        .col-lg-3.col-sm-4.col-xs-6.silo-itm
            figure
                img(src="./uploads/silodata/temp_2.jpg", alt="")
            .silo-info.info-orange
                h4 DORTE
                p.silo-date Vene - 14 April, 2017
        .col-lg-3.col-sm-4.col-xs-6.silo-itm
            figure
                img(src="./uploads/silodata/temp_2.jpg", alt="")
            .silo-info.info-orange
                h4 DORTE
                p.silo-date Vene - 14 April, 2017
// END: Silo blk

.silo-blk.has-gallery.has-srch
    h3.silo-ttl silodata object
    .silo-srch
        input.form-control.ip-srch(type="text", placeholder="Rechercher")
        a.silo-btn.btn(href="javascript:;")
            i.fa.fa-search
    .silo-list.row
        .col-lg-3.col-sm-4.col-xs-6.silo-itm
            figure
                img(src="./uploads/silodata/temp_2.jpg", alt="")
            .silo-info.info-blue
                h4 DORTE
                p.silo-date Scene - 14 April, 2016
        .col-lg-3.col-sm-4.col-xs-6.silo-itm
            figure
                img(src="./uploads/silodata/temp_2.jpg", alt="")
            .silo-info.info-blue
                h4 DORTE
                p.silo-date Scene - 14 Sept, 2016
        .col-lg-3.col-sm-4.col-xs-6.silo-itm
            figure
                img(src="./uploads/silodata/temp_2.jpg", alt="")
            .silo-info.info-blue
                h4 DORTE
                p.silo-date Scene - 15 Oct, 2016
        .col-lg-3.col-sm-4.col-xs-6.silo-itm
            figure
                img(src="./uploads/silodata/temp_2.jpg", alt="")
            .silo-info.info-blue
                h4 DORTE
                p.silo-date Vene - 14 April, 2017
        .col-lg-3.col-sm-4.col-xs-6.silo-itm
            figure
                img(src="./uploads/silodata/temp_2.jpg", alt="")
            .silo-info.info-blue
                h4 DORTE
                p.silo-date Vene - 14 April, 2017
        .col-lg-3.col-sm-4.col-xs-6.silo-itm
            figure
                img(src="./uploads/silodata/temp_2.jpg", alt="")
            .silo-info.info-blue
                h4 DORTE
                p.silo-date Vene - 14 April, 2017
// END: Silo blk