.silo-blk
    h3.silo-ttl toolbox
    p.tool-heading Ajouter un modele 3d
    figure.tool-avatar
        img(src="./uploads/silodata/profile_1.jpg", alt="")
    .tool-info
        p.tool-txt Ajouter un modele (OFF)
        a.btn.btn-default(href="#") Type de fichier
        a.btn.btn-default(href="#") Titre
        a.btn.btn-default(href="#") Thesaurus
    .toolbtn-group
        a.btn.btn-blue(href="#") Import file
        a.btn.btn-lblue(href="#") Export file
    .toolbtn-group
        a.btn.btn-lblue(href="#") Creer une Galerie 
// END: Silo blk
