{% set subscriptions = pageData.subscriptions %}
{% from "@views/macros/plan-card/plan-card.twig" import planCard %}

<div id="tab-subscriptions" class="tab-pane fade tab-my-subscriptions">
  <div class="row">
    <div class="col-lg-10">
      <div class="row plan-cards">
        {% for subscriptionItem in subscriptions %}
          <div class="col-lg-6 plan-card-wrap">
            {{
              planCard({
                subscriptionId: subscriptionItem.id,
                headerLabel: subscriptionItem.headerLabel,
                orderDate: subscriptionItem.orderDate,
                info: subscriptionItem.info,
                productImage: subscriptionItem.productImage,
                productName: subscriptionItem.productName,
                isExpired: subscriptionItem.isExpired,
                status: subscriptionItem.status,
                isShowCancel: subscriptionItem.isShowCancel,
                type: subscriptionItem.type
              })
            }}
          </div>
        {% endfor %}
        <div rv-show="isNoSubscription" class="col-lg-12 subscription-empty h4">
          {{'There is no subscription'|trans}}
        </div>
      </div>
    </div>
  </div>

</div>
