{% import "@views/macros/forms/forms.twig" as forms %}
{% from "@views/macros/order-card/order-card.twig" import orderCard %}

<div id="tab-overview" class="tab-pane">
  <div class="overview-layout">
    <div class="row">

      <div class="col-xl-2 col-lg-3 col-filter">
        <aside>
          <form id="formFilter" class="form-filter" method="GET" , action="{{ path('my-account') }}">
            <fieldset>
              <div class="form-group default-select">
                {% set periods =[
                  {
                    value: '1/2019',
                    label:'January 2019'
                  },
                  {
                    value:'2/2019',
                    label:'February 2019'
                  },
                  {
                    value:'3/2019',
                    label:'March 2019'
                  }
                 ] %}
                {{ forms.selectpicker({
                  name:'period', id:'period', options: periods, includeBlank: false, required: true, multiple: false, search: false, label:'Select Period' } ) }}
              </div>
              <div class="form-group form-group-action">
                <button class="btn btn-primary btn-md btn-submit" type="submit">Show</button>
              </div>
            </fieldset>
          </form>
          <div class="filter-action">
            <a class="action action-clear" href="javascript:void(0);" title="Сlear History" data-clear-history=""><i class="icon-trash"></i>Сlear History</a>
            <a class="action action-filter" href="javascript:void(0);" title="Filter" data-filter=""><i class="icon-filter"></i>Filter</a>
          </div>
        </aside>
      </div>

      <div class="col-xl-10 col-lg-9 col-content">
        <div id="history-box" class="history-box" data-scrollbar="">
          <div class="row row-order-cards">
            <div class="col-md-6">
              {{
                orderCard({
                  headerLabel: 'Date',
                  orderDate: '2019-03-25',
                  orderName: 'Sarita Pearl',
                  orderType: 'Subscription',
                  orderInfo: '3125 kr + 374 kr',
                  orderTotal: '3499 kr'
                })
              }}
            </div>
            {% set demoDates = ['20', '12', '01', '12', '01', '12'] %}
            {% for number, i in [1,2,3,4,5,7,8] %}
              <div class="col-md-6">
                {{
              orderCard({
                headerLabel: 'Date',
                orderDate: '2019-03-' ~ demoDates[i]|default('0' ~ number),
                orderName: '',
                orderType: 'Subscription Payment',
                orderInfo: '3125 kr + 374 kr',
                orderTotal: '3499 kr'
              })
            }}
              </div>
            {% endfor %}
          </div>
          <p class="history-empty h4">Empty history</p>
        </div>
      </div>

    </div>
  </div>
</div>
