{% import "@views/macros/forms/forms.twig" as forms %}
{% from "@views/macros/my-credit-card/my-credit-card.twig" import myCreditCard %}

<div id="tab-payment-data" class="tab-pane fade tab-payment-data">
  <div class="list-cards">
    {% for item in pageData.myCards %}
      <div>
        {{
          myCreditCard({
            id: item.id,
            cardName: item.cardName,
            last4Digits: item.last4Digits,
            action: {
              name: 'delete',
              title: 'Delete'|trans
            }
          })
        }}
      </div>
    {% endfor %}
    <p rv-show="isNoCreditCard" class="card-empty h4">{{'There is no saved payment method'|trans}}</p>
  </div>
  <form id="formPaymentCard" class="form-payment-data" data-form-payment-data="">
    <div class="row">
      <div class="col-lg-7">
        <fieldset class="form-max-width">
          <h3>{{'New Payment Data'|trans}}</h3>

          {% include "@views/components/payment-data/payment-data.twig" %}

          <div class="form-group">
            {{
              forms.termsCheckbox({
                global: global
              })
            }}
          </div>
          <div class="form-group form-group-action">
            <button class="btn btn-primary btn-submit" type="submit" disabled="disabled">{{'Save'|trans}}</button>
          </div>
        </fieldset>
      </div>
      <div class="col-lg-5">
        {% include "@views/components/billing-address/billing-address.twig" with {
          'countries': pageData.countries,
          'states': pageData.states,
          'cities': pageData.cities
        }
        %}
      </div>
    </div>
  </form>
</div>
