{% import "@views/macros/forms/forms.twig" as forms %}

{% set personalInfo = pageData.personalInfo %}

<div id="tab-personal-info" class="tab-pane fade tab-personal-info">
  <div class="row">
    <div class="col-lg-7">
      <h3>{{'Personal Info'|trans}}</h3>
      <form class="form-personal-info form-max-width">
       {% include "@views/components/personal-info-fields/personal-info-fields.twig" with {
          'showSubmit': true,
            personalInfo: pageData.personalInfo,
            options: {
              countries: pageData.countries,
              phoneCodes: pageData.phoneCodes,
              states: pageData.states,
              cities: pageData.cities,
            }
          }
        %}
      </form>
    </div>

    <div class="col-lg-5">
      <h3>{{'Change Password'|trans}}</h3>
      <p class="label-required">{{ '* is required field'|trans }}</p>
      <form class="form-change-pass">
        <fieldset>
          {{ forms.inputPassword({
            id: 'oldPassword',
            name: 'oldPassword',
            type: 'password',
            required: true,
            label: 'Old Password'|trans ~ '*',
            showChecked: true })
          }}

          {{ forms.inputWithLabel({
            id: 'newPassword',
            name: 'newPassword',
            type: 'password',
            required: true,
            label: 'New Password'|trans ~ '*',
            helpText: 'Password must contain at least 6 characters!'|trans})
            }}

          {{ forms.inputWithLabel({
            id: 'confirmPassword',
            name: 'confirmPassword',
            type: 'password',
            required: true,
            label: 'Confirm New Password'|trans ~ '*'})
          }}

          <div class="form-group form-group-action">
            <button class="btn btn-primary btn-submit" type="submit" disabled="disabled">{{'Change Password'|trans}}</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
