/**
 * FOOTER CSS
 * Updated on 07/12/2016
 */

// Footer top CSS
.footer-top {
    background: #181818;
    padding: 40px 0;
}   

// Menu footer CSS
.menu-footer {
    list-style: none;
    li {
        margin-bottom: 15px;
        &::last-child {
            margin: 0;
        }
    }
    a {
        position: relative;
        display: block;
        padding-left: 10px;
        color: #a5a7a8;
        @include transition(all .3s ease-out);
        &:hover {
            color: white;
        }
    }
    .fa-angle-right {
        position: absolute;
        top: 1px;
        left: 0;
        font-size: 16px;
        margin-right: 5px;
    }
}

// Social links CSS
.social-links {
    margin-top: 30px;
    a {
        font-size: 30px;
        color: #a5a7a8;
        margin-right: 5px;
        margin-bottom: 5px;
        @include transition(all .3s ease-out);
        width: 35px;
        height: 35px;
        line-height: 35px;
        display: inline-block;
        text-align: center;
        &:hover {
            color: white;
        }
        &:last-child {
            margin: 0;
        }
    }
}

.logo-footer {
    display: inline-block;
    width: 100px;
    img {
        width: 100%;
    }
}

// Footer bottom CSS
.footer-bottom {
    background: #1C1C1C;
    position: relative;
    padding: 15px;
    p {
        color: $dkergray;
        font-size: 11px;
        margin: 0;
        img {
            vertical-align: middle;
        }
    }
    .link-mail {
        padding: 15px;
        background: black;
        position: absolute;
        top: 50%;
        right: 15px;
        @include transform(translateY(-50%));
        &:hover {
            .fa-envelope {
                color: #c8280f;
            }
        }
        .fa-envelope {
            color: white;
            font-size: 24px;
            @include transition(all .3s ease-out);
        }
    }
}