/**
 * HEADER CSS
 * Updated on 07/12/2016
 */

.header {
    background: black;
    color: white;
    height: 80px;
    position: relative;
    z-index: 20;
}

// Logo CSS
.logo {
    margin: 15px 0 0 15px;
    width: 150px;
    img {
        width: 100%;
    }
}

// Main nav CSS
.main-nav {
    margin-right: 15px;
}

.main-menu {
    list-style: none;
    > li {
        float: left;
        position: relative;
        &.language {
            margin-left: 30px;
        }
        &:hover {
            .sub-menu {
                display: block;
            }
        }
        > a {
            display: inline-block;
            height: 80px;
            line-height: 88px;
            padding: 0 10px;
        }
    }
    a {
        color: white;
        text-transform: uppercase;
        font-size: 16px;
        &:hover {
            color: $dgray;
        }
    }
}

.banner-lk {
    width: 270px;
    line-height: 80px;
    margin-right: 15px;
    img {
        width: 100%;
    }
}

// Login menu CSS
.login-menu {
    height: 80px;
    line-height: 88px;
    .btn-blue {
        text-transform: none;
    }
}

// Sub menu CSS
.sub-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: white;
    text-align: center;
    list-style: none;
    > li {
        height: 40px;
        line-height: 40px;
        &:hover {
            background: $gray;
            a {
                color: black;
            }
        }
    }
    a {
        display: block;
        color: black;
    }
}

// Mobile nav CSS
.mobile-nav {
    position: absolute;
    top: 10px;
    right: 15px;
    display: none;
    &.open {
        .fa-bars {
            color: $red;
        }
    }
    a {
        display: block;
    }
    .fa-bars {
        font-size: 30px;
        color: white;
    }
}

// Mobile backdrop CSS
.mobile-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    z-index: 1;
    @include opacity(0.5);
    @include transition(all .3s ease-out);
    &.hide {
        @include opacity(0);    
    }
}
