/**
 * LOGIN CSS
 * Updated on 13/12/2016
 */

.section-login {
    background: url("../images/background.jpg") center no-repeat;
    background-size: cover;
    min-height: calc(100vh - 80px - 265px);
    .inner {
        padding: 80px 0;
    }
}

// Login block CSS
.login-blk {
    width: 600px;
    margin: 0 auto;
    padding: 40px 60px;
    background: rgba($color: white, $alpha: 0.8);
    color: black;
    position: relative;
    border: none;
    @include border-radius(0);
    h2 {
        margin-bottom: 30px;
        font-size: 40px;
        color: $dkergray;
        .txt-or {
            color: black;
            font-size: 18px;
            font-weight: normal;
        }
        a {
            color: blue;
            font-size: 26px;
            font-weight: normal;
        }
    }
    label {
        font-weight: bold;
        margin-bottom: 5px;
        color: $dkergray;
    }
    .btn-blue {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
    }
    .forgot-gr {
        font-size: 12px;
        margin-bottom: 15px;
        a {
            color: blue;
        }
    }
}

.login-blk {
    .md-submit {
        margin-bottom: 5px;
    }
    .modal-body {
        position: static;
        padding: 0;
    }
    .more-gr {
        a {
            margin-left: 5px;
            color: blue;
        }
    }
}