/**
 * MODAL CSS
 * Updated on 15/12/2016
 */

.view-modal {
    &.modal {
        padding: 0 15px;
        .modal-dialog {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            @include transform(translate(-50%, -50%));
            margin: 0;
            padding: 0 15px;
        }
    }
    .fview-group {
        position: relative;
        .form-control {
            padding-right: 110px;
        }
        .mdview-btn {
            position: absolute;
            top: 0;
            right: 0;
            height: 38px;
            width: 100px;
            @include border-radius(0);
        }
    }
    textarea {
        margin-bottom: 15px;
    }
}

.view-modal {
    .form-group {
        .form-control {
            border-bottom: none;
            &:last-child {
                border-bottom: 1px solid rgba(0,0,0,.15);
            }
        }
    }
}

// Login modal
.login-modal {
    &.modal {
        .modal-dialog {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            @include transform(translate(-50%, -50%));
            margin: 0;
        }
    }
}

// Popup ttl CSS
.pop-ttl {
    color: $dgray;
    font-size: 22px;
    margin-bottom: 15px;
}

// Popup social CSS
.pop-social {
    margin-bottom: 15px;
    a {
        display: inline-block;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        margin-right: 2px;
        &:last-child {
            margin: 0;
        }
        .fa {
            font-size: 35px;
        }
    }
    .ico-fb {
        color: #3C579E;
    }
    .ico-gg {
        color: #D9503B;
    }
    .ico-reddit {
        color: #CFE3FA;
    }
    .ico-twitter {
        color: #25AAF3;
    }
    .ico-linked {
        color: #197FB7;
    }
    .ico-pin {
        color: #C72421;
    }
    .ico-tumblr {
        color: #37455F;
    }
}