/**
 * MY ACCOUNT CSS
 * Updated on 07/12/2016
 */
.acc-avatar {
    img {
        width: 100%;
    }
    a {
        color: $blue;
        font-size: 12px;
    }
}

// Account text CSS
.acc-txt {
    color: $dkergray;
    margin-bottom: 15px;
    .acc-comp {
        color: black;
        font-size: 18px;
    }
    .acc-txt-ct {
        color: $blue;
        margin-left: 5px;
    }
    a {
        color: $blue;
    }
}

.acc-label {
    margin-bottom: 5px;
}

// Account detail item CSS
.acc-dt-itm {
    margin-bottom: 10px;
    overflow: hidden;
    &:last-child {
        margin: 0;
    }
    .acc-name, .acc-email {
        float: left;
    }
    .acc-name {
        width: 50%;
        color: black;
        padding-right: 10px;
    }
    .acc-email {
        width: 50%;
    }
}

// Account data CSS
.acc-data {
    margin-bottom: 40px;
    &:last-child {
        margin: 0;
    }
    .acc-data-ttl {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 30px;
        color: $dkergray;
    }
}

// Account data list CSS
.acc-data-list {
    list-style: none;
    li {
        padding-left: 55px;
        position: relative;
        margin-bottom: 15px;
        color: $dkergray;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 20px;
            @include transform(translateY(-50%));
            width: 13px;
            height: 13px;
            @include border-radius(50%);
            background: $dgray;
        }
        &:last-child {
            margin: 0;
        }
    }
}

// Account contract list CSS
.acc-ctr-list {
    li {
        margin-bottom: 15px;
        height: 40px;
        line-height: 40px;
        &:before {
            width: 50px;
            height: 50px;
            @include border-radius(0);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            left: 0;
        }
        &.ctr-1:before {
            background-image: url("../uploads/my_account/ico_1.jpg");
        }
        &.ctr-2:before {
            background-image: url("../uploads/my_account/ico_2.jpg");
        }
        &.ctr-3:before {
            background-image: url("../uploads/my_account/ico_3.jpg");
        }
        &.ctr-4:before {
            background-image: url("../uploads/my_account/ico_4.jpg");
        }
    }
}