block vars
  -title="Home Page - Arskan"
extends layouts/layout
block main
    section.main
        include blocks/home/banner
        include blocks/home/features 
    include blocks/home/modal/login
    include blocks/home/modal/signup


