block vars
  -title="Silodata - Arskan"
extends layouts/layout_silodata.jade
block main
    section.main.wrapper.has-sidebar
        .container
            .row
                .col-xs-12.content
                    include ./blocks/silodata/content.jade
                .col-xs-12.sidebar
                    include ./blocks/silodata/sidebar.jade