block vars
  -title="Sitemap - Arskan"
extends layouts/layout
block main
    section.main.wrapper.sitemap
        .container
            ol
                li
                    a(href="./", target="_blank") Index
                li
                    a(href="./my_account.html", target="_blank") My Account
                li
                    a(href="./silodata.html", target="_blank") Silodata
                li
                    a(href="./viewer.html", target="_blank") Viewer
