block vars
  -title="Silodata - Arskan"
extends layouts/layout
block main
    section.main.wrapper.page-viewer.has-sidebar
        .container
            .row
                .col-sm-9.col-xs-12.content
                    include ./blocks/viewer/content.jade
                .col-sm-3.col-xs-12.sidebar
                    include ./blocks/viewer/sidebar.jade
        include ./blocks/viewer/modal/share
        include ./blocks/viewer/modal/send
        include ./blocks/viewer/modal/integrate