@import '@/scss/base.scss';

.learn-more-item {
  padding: 135px 0 105px;

  &:nth-child(2n) {
    background-color: rgba(245, 245, 245, 0.4);
  }

  &:nth-child(2n + 1) {
    .inner {
      flex-direction: row-reverse;
    }
  }

  .inner {
    align-items: center;
  }

  .item-image,
  .item-text {
    margin-bottom: 30px;
  }

  .item-image {
    .image {
      text-align: center;

      i {
        display: inline-block;
        font-size: 20rem;
        color: $color-dark-blue;

        &.icon-fall {
          font-size: 23rem;
        }
      }


    }

    img {
      max-height: 320px;
    }

  }

  .item-text {
    h2 {
      margin-bottom: 55px;
    }

    p:last-child {
      margin-bottom: 0;
    }

    .link {
      margin-top: 60px;
    }
  }

  @include desktop() {
    .item-image {
      .sliders {
        max-width: 75%;
      }
    }

    &:nth-child(2n) {
      .item-image {
        .image {
          text-align: left;
          margin-left: 16px;
          i {
            margin-left: 120px;
          }
        }
      }
    }

    &:nth-child(2n + 1) {
      .item-image {
        .sliders {
          float: right;
        }
        .image {
          text-align: right;

          i {
            margin-left: 0;
            margin-right: 120px;
          }
        }
      }
    }
  }

  @include tablet-down() {
    padding: 80px 0 70px;

    .item-image {
      img {
        max-height: 300px;
      }
    }
  }

  @include mobile() {
    padding: 50px 0 20px;

    &:nth-child(2n) {
      .item-image {
        .image {
          margin-left: 0;
        }
      }
    }

    &:nth-child(2n + 1) {
      .item-image {
        .image {
          text-align: center;
        }
      }
    }

    .item-image {
      .image {
        text-align: center;
      }
    }

    .item-text {
      h2 {
        margin-bottom: 30px;
      }

      .link {
        margin-top: 0;
        &:last-child {
          margin-top: 25px;
        }
        .btn {
          padding: 11px 30px;
        }
      }
    }
  }
}
