{% macro learnMoreItem( params ) %}

  {% import "@views/macros/image-slider/image-slider.twig" as sliders %}

  <section class="learn-more-item">
    <div class="container">
      <div class="row inner">
        <div class="col-md-5 item-image">
          {% if params.imgsrc %}
            <div class="image img">
              <img class="b-lazy" data-src="{{ params.imgsrc }}" alt="{{ params.title }}"/>
            </div>
          {% endif %}
          {% if params.icon %}
            <div class="image">
              <i class="{{ params.icon }}"></i>
            </div>
          {% endif %}
          {% if params.slider %}
            <div class="sliders">
              {% 
                set options = {
                  slidesToShow: 1, 
                  slidesToScroll: 1,
                  arrows: false, 
                  dots: true, 
                  autoplay: true,
                  autoplaySpeed: 2000
                } 
              %}
              {{
                sliders.imageSlider(options , params.slider)
              }}
            </div>
          {% endif %}
        </div>
        <div class="col-md-7 item-text">
          <div class="text">
            <h2>{{ params.title }}</h2>
            {{ params.description|raw }}
            {% if params.btnText %}
              <p class="link">
                <a href="{{ params.btnLink ?: '#' }}" class="btn btn-primary" title="{{ params.btnText }}">{{ params.btnText }}</a>
              </p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endmacro %}
