{# Model - Generated from global.json #}
{% set global = global|merge({
  "isAdapter": global.isAdapter,
  "siteDescription": global.siteDescription,
  "user": global.user ? ({
    "name": global.user.name,
    "surname": global.user.surname,
    "email": global.user.email
  }) : null,
  "feAssetsUrl": global.feAssetsUrl,
  "ajaxUrl": global.ajaxUrl,
  "siteConfig": {
    "favicon": global.siteConfig.favicon,
    "termsAndConditionsUrl": global.siteConfig.termsAndConditionsUrl,
    "headerLogos": {
      "logoDark": global.siteConfig.headerLogos.logoDark,
      "logoWhite": global.siteConfig.headerLogos.logoWhite
    },
    "headerLanguages": global.siteConfig.headerLanguages,
    "footerPages": global.siteConfig.footerPages,
    "footerContact": {
      "phones": global.siteConfig.footerContact.phones,
      "email": global.siteConfig.footerContact.email,
      "address": global.siteConfig.footerContact.address,
      "dayOpen": global.siteConfig.footerContact.dayOpen,
      "timeOpen": global.siteConfig.footerContact.timeOpen,
      "timeClose": global.siteConfig.footerContact.timeClose,
      "socials": global.siteConfig.footerContact.socials
    },
    "footerCopyRight": {
      "copyRight": global.siteConfig.footerCopyRight.copyRight,
      "footerLogos": global.siteConfig.footerCopyRight.footerLogos
    }
  }
})%}

{% block website %}{% endblock %}