@import "~@/scss/base";

.modal-base {
  .modal-header {
    padding-bottom: 0;

    .close {
      position: absolute;
      z-index: 2;
      right: 15px;
      top: 15px;
      margin: 0;
      padding: 0;
      font-size: 0;

      &:before {
        @include font-icon();
        content: "\e919";
        font-size: 1.8rem;
        color: #474646;
      }
    }
  }
  .modal-body {
    padding-top: 0;
  }

  fieldset {
    legend {
      margin-bottom: 0;
      font-size: 3.2rem;
      font-weight: bold;
      color: $color-dark-blue;
      text-align: center;
    }
  }

  .form-group-action {
    text-align: center;

    .btn {
      min-width: 225px;
    }
  }
}

@include mobile () {
  .modal-body {
    padding: 0 20px 30px;
  }
}