@import "~@/scss/base";
.sign-in-form {
  .form-group {
    margin-bottom: 1.5rem;

    .forgot-password {
      margin-bottom: 3rem;
      font-size: 1.4rem;
    }
  }

  .form-group-remember {
    margin-bottom: 3rem;
    text-align: center;
    color: $color-black;
  }
}

.reset-password-form {
  min-height: 357px;

  p {
    margin-top: 2rem;
  }

  .form-group-action {
    display: flex;
    justify-content: space-between;

    .btn {
      width: 45%;
      min-width: fit-content;
    }
  }

  @include breakpoint($max: $breakpoint-sm - 1) {
    .form-group-action {
      .btn {
        padding: 11px 35px;
      }

      .btn-back {
        padding-left: 50px;

        &:before {
          left: 25px;
        }
      }
    }  
  }
}