{% import "@views/macros/forms/forms.twig" as forms %}
<!-- Modal -->
<div class="modal fade modal-base modal-sign-in" id="modal-sign-in" role="dialog">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">&times;</button>
      </div>
      <div class="modal-body">
        <div class="modal-form">
          <div class="app-form-wrapper">
            <form id="singInForm" class="sign-in-form">
              <fieldset>
                <legend>{{'Sign In'|trans}}</legend>
                {{
                  forms.inputWithLabel({
                    id: 'username',
                    name: 'username',
                    type: 'text',
                    required: true,
                    label: 'Email'|trans
                    })
                }}
                {{
                  forms.inputPassword({
                    id: 'password',
                    name: 'password',
                    type: 'password',
                    required: true,
                    label: 'Password'|trans
                    })
                }}
                <div class="form-group">
                  <p class="forgot-password">{{'Forgot the password ?'|trans}}
                    <a href="#" title="Reset">{{'Reset'|trans}}</a>
                  </p>
                </div>
                <div class="form-group form-group-remember">
                  {{
                    forms.checkbox({
                      id: 'remember',
                      name: 'remember',
                      value: 1,
                      label: 'Remember me'|trans
                    })
                  }}
                </div>
                <div class="form-group form-group-action">
                  <button class="btn btn-primary btn-submit" type="submit" disabled="disabled">{{'Sign In'|trans}}</button>
                </div>
              </fieldset>
            </form>
            <form id="resetPassWordForm" class="reset-password-form d-none">
              <fieldset>
                <legend>{{'Password Reset'|trans}}</legend>
                <p>{{'Enter your Email that you used to register. We\'ll send you an email with the new generated password'|trans}}.</p>
                {{
                  forms.inputWithLabel({
                    id: 'emailReset',
                    name: 'emailReset',
                    type: 'text',
                    required: true,
                    label: 'Email'|trans
                    })
                  }}
                <div class="form-group form-group-action">
                  <button class="btn btn-primary btn-back" type="button">{{'Back'|trans}}</button>
                  <button class="btn btn-primary btn-submit" type="submit" disabled="disabled">{{'Send'|trans}}</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
