{% macro testimonialSlider( options, items ) %}
  <div class="testimonial-slider" data-slick='{{ options|json_encode }}'>
    {% for item in items %}
      <div class="slider-item">
        <div class="testimonial-item">
          <div class="img">
            {% if item.imgSrc %}
              <img class="b-lazy" data-src="{{item.imgSrc}}" alt="{{item.name}}"/>
            {% else %}
              <i class="icon-user"></i>
            {% endif %}
          </div>
          <h4 class="name">{{item.name}}</h4>
          <div class="position">{{item.position}}</div>
          <div class="caption">{{item.description|raw}}</div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}
