@import "@/scss/base.scss";

.testimonial-item {
  margin: 0 35px 30px;

  .img {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 28px;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    border: 6px solid $color-white;
    background-color: $color-light;
    text-align: center;
    overflow: hidden;

    img {
      @include absolute-center();
      min-width: 100%;
      min-height: 100%;
      width: auto;
      max-width: none;
    }

    i {
      font-size: 4rem;
      color: $color-white;
    }
  }

  h4 {
    margin: 0;
    font-weight: normal;
    line-height: 1.2;
  }

  .position {
    margin-bottom: 15px;
  }

  .caption {
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.testimonial-slider {
  margin-left: -35px;
  margin-right: -35px;

  &.slick-slider {
    &.has-arrows {
      padding: 0 70px;
    }
    .slick-prev,
    .slick-next {
      top: 64%;
    }
    .slick-prev {
      left: 35px;
    }
    .slick-next {
      right: 35px;
    }

    .slider-item {
      height: auto;
      &:focus {
        outline: none;
      }
    }
  }

  &:not(.slick-slider) {
    @include clearfix();

    .slider-item {
      float: left;
      width: 33.33%;
    }
  }
}

@include tablet-down() {
  .testimonial-slider {
    margin-left: -10px;
    margin-right: -10px;

    &.slick-slider {
      &.has-arrows {
        padding: 0 20px;
      }
      .slick-prev {
        left: 0;
      }
      .slick-next {
        right: 0;
      }
    }
  }
  .testimonial-item {
    margin: 0 10px 30px;
  }
}

@include mobile() {
  .testimonial-slider {
    margin-left: 0;
    margin-right: 0;

    &:not(.slick-slider) {
      margin-left: 0;
      margin-right: 0;

      .slider-item {
        float: none;
        width: auto;
      }
    }
  }

  .testimonial-item {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    .img {
      margin: 0 auto 25px;
    }
  }
}
