@import '@/scss/base.scss';

.single-page {
  .site-main {
    padding: 50px 0;

    .cms-content {
      padding-top: 30px;
      
      ul,
      ol {
        padding-left: 18px;
      }
    }
  }
}
