{% extends "@views/layouts/layout-default.twig" %}
{# block declare #}
{%
  set viewData = {
    bodyClass: 'single-page',
    jsController: '',
  }
%}

{% block pageContent %}
  <div class="container">
    <h1>{{pageData.pageTitle}}</h1>
    <div class="cms-content">
      {{pageData.pageContent|raw}}
    </div>
  </div>
{% endblock %}
