.silo-blk
    h3.silo-ttl #0321kore
    figure.shape-watch
        img(src="./uploads/silodata/temp_3.jpg", alt="")
// END: Silo blk
.row
    .col-md-12.col-xs-9
        .silo-blk.hasbd-mb.mb-show
            h3.silo-ttl Information
            .text-editor
                p Scène réf number #001 la Koré
                p Le 19 mars
        // END: Silo blk
        .silo-blk.hasbd-mb
            h3.silo-ttl Donnees liees
            .text-editor
                ul
                    li Video reportage MAC 141
                    li Album photo
                    li Lien hypertexte vers MAC
        // END: Silo blk
        .silo-blk.hasbd-mb.mb-show
            h3.silo-ttl Stats
            figure.t-c
                img(src="./uploads/viewer/stats.jpg", alt="")
        // END: Silo blk
    .col-md-12.col-xs-3.ct-sidebar
        .silo-blk.hasbd-mb.mb-show
            h3.silo-ttl toolbox
            .tool-mb-list
                a.tool-mb-itm(href="#")
                    img(src="./uploads/viewer/view_1.png", alt="")
                a.tool-mb-itm(href="#", data-toggle="modal", data-target="#shareModal")
                    img(src="./uploads/viewer/view_2.png", alt="")
                a.tool-mb-itm(href="#", data-toggle="modal", data-target="#inteModal")
                    img(src="./uploads/viewer/view_3.png", alt="")
                a.tool-mb-itm(href="#", data-toggle="modal", data-target="#sendModal")
                    img(src="./uploads/viewer/view_4.png", alt="")
        // END: Silo blk