.silo-blk.hasbd-mb.mb-hide
    h3.silo-ttl toolbox
    .view-group
        a.btn.btn-default(href="#") Modifier le type
        a.btn.btn-default(href="#") Modifier le type
        a.btn.btn-default(href="#") Modifier le thesaurus
        a.btn.btn-primary.viewer-btn(href="#") Delete file
    .view-group
        a.btn.btn-default.viewer-btn(href="#") 
            figure
                img(src="./uploads/silodata_viewer/view_1.png", alt="")
            | Full screen
        a.btn.btn-default.viewer-btn(href="#", data-toggle="modal", data-target="#shareModal")
            figure
                img(src="./uploads/silodata_viewer/view_2.png", alt="")
            | Share
        a.btn.btn-default.viewer-btn(href="#", data-toggle="modal", data-target="#inteModal")
            figure
                img(src="./uploads/silodata_viewer/view_3.png", alt="")
            | Integrate
        a.btn.btn-default.viewer-btn(href="#", data-toggle="modal", data-target="#sendModal")
            figure
                img(src="./uploads/silodata_viewer/view_4.png", alt="")
            | Send
    .view-group
        a.btn.btn-default.viewer-btn(href="#") Export file
// END: Silo blk
