{% extends "@views/layouts/layout-default.twig" %}
{# block declare #}

{%
  set viewData = {
    bodyClass: 'checkout-page',
    jsController: 'checkout',
    headerType: ''
  }
%}

{% block pageContent %}
  <div class="checkout-wrapper">
    {% include "@views/components/process-bar/process-bar.twig" %}
    <div class="checkout-content">
      {% include "@views/pages/checkout/inc/step1.twig" %}
      {% include "@views/pages/checkout/inc/step2.twig" %}
      {% include "@views/pages/checkout/inc/step3.twig" %}
      {% include "@views/pages/checkout/inc/step4.twig" %}
      {% include "@views/pages/checkout/inc/step5.twig" %}
    </div>
    {% include "@views/components/cart/cart.twig" with {
      'navCart': false,
      'subscription': false,
      'backBtn': false
    }
    %}
  </div>
{% endblock %}
