@import '~@/scss/base';
.checkout-page {
  .product-image {
    text-align: center;

    &.middle {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &:not(.middle) {
      margin-top: 15%;
    }

    .image img {
      max-width: 248px;
    }

    .name {
      margin-top: 22px;
      margin-bottom: 0;
    }
  }

  .subscription-type-list {
    margin-top: 75px;
  }
  .summary {
    max-width: 457px;
    margin-top: 8px;
    margin-left: auto;
    background-color: $color-light;
    color: $color-black;

    .title {
      margin: 0;
      padding: 20px 45px;
      background-color: $color-dark-blue;
      color: $color-white;
    }

    .summary-content {
      padding: 23px 45px 0;

      .box {
        padding: 30px 0 40px;

        + .box {
          border-top: 1px solid $color-white;
        }

        h3 {
          margin-bottom: 23px;
        }

        &.box-total {
          font-size: 3.2rem;
          font-weight: bold;
          color: $color-black;
          white-space: nowrap;
        }
      }

      .box-info {
        display: flex;
        justify-content: space-between;

        .box-info-left {
          min-width: 95px;
          padding-right: 15px;

          .img {
            img {
              max-width: 62px;
            }
          }
        }

        .box-info-right {
          .shipping-price {
            display: block;
          }
        }
      }
    }
  }
}

.checkout-tab {
  display: none;
  padding-bottom: 102px;

  &.show {
    display: block;
  }

  h2 {
    margin-bottom: 1rem;
  }

  .lead {
    margin-bottom: 1rem;
  }

  #formPersonalInfo {
    max-width: 455px;
  }

  .form-checkout {
    fieldset {
      h3 {
        margin-bottom: 30px;
      }
    }

    .form-group {
      margin-bottom: 2rem;
    }
  }

  .collections {
    padding: 2rem 0 0;
    max-width: 262px;
  }

  .radio-list {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 15px 0;
    padding-top: 13px;

    .radio-image {
      margin-bottom: 12px;
      flex-basis: 33.33%;

      label {
        height: 100%;
        margin: 0 2px;
      }
    }
  }

  .total-box {
    margin: 18px 0 60px;
    font-weight: normal;

    .total {
      margin-left: 5px;
      color: $color-dark-blue;
    }
  }

  .pearl-card-list {
    padding-top: 20px;
    .row > div {
      margin-top: 50px;
    }
  }
}

.checkout-tab-payment-data {
  .form-payment {
    margin-top: 38px;
    fieldset {
      + fieldset {
        margin-top: 40px;
      }
    }
  }
  .payment-data-new {
    max-width: 455px;
  }

  .payment-data-saved {
    .custom-radio label {
      padding-left: 45px;
      &:before,
      &:after {
        @include absolute-middle();
      }
    }
    .list-cards {
      margin-bottom: 30px;
    }
  }

  .card-checkbox {
    margin-bottom: 20px;
    position: relative;
    i {
      font-size: 2.1rem;
    }
    .my-card {
      margin-bottom: 0;

      .ic-card {
        margin-top: 1rem;
      }

      .my-card-content {
        margin-left: 15px;
      }

      .card-lb {
        font-size: 2rem;
      }
      .card-number {
        font-size: 1.6rem;
      }
      @include mobile() {
        margin-bottom: 0;
      }
    }
  }

  .billing-address-group {
    margin-top: 40px;
  }
}

@include breakpoint($max: $breakpoint-xl - 1) {
  .checkout-tab {
    .product-image {
      &:not(.middle) {
        margin-top: 40%;
      }
    }

    .radio-list {
      .radio-image {
        flex-basis: 50%;
      }
    }
  }
}

@include tablet-down() {
  .checkout-tab {
    padding-bottom: 60px;

    .collections {
      padding-top: 50px;
      margin-left: auto;
      margin-right: auto;
    }

    .product-image {
      margin-top: 30px;

      &:not(.middle) {
        margin-top: 30px;
      }

      .image img {
        max-width: 100%;
      }
    }

    .radio-list {
      margin-top: 20px;
      margin-bottom: 18px;
      padding-top: 10px;

      .radio-image {
        flex-basis: 33.33%;
      }
    }
  }
}

@include mobile() {
  .checkout-page {
    .product-image {
      display: block;
      height: auto;
    }

    .radio-list {
      .radio-image {
        label {
          padding: 14px 15px 10px;
        }
      }
    }

    .radio-image {
      text-align: center;
    }

    .summary {
      margin-top: 30px;
      margin-left: 0;
      max-width: 100%;
    }
  }

  .checkout-tab {
    #formPersonalInfo {
      max-width: 100%;
    }

    .collections {
      max-width: 100%;
    }

    .total-box {
      margin-bottom: 0;
    }

    .pearl-card-list {
      padding-top: 0;
    }
  }

  .checkout-tab-payment-data {
    margin-top: 10px;
    max-width: 100%;

    fieldset + fieldset {
      margin-top: 20px;
    }
    .billing-address-group {
      margin-top: 20px;
    }
  }
}

@include breakpoint($max: $breakpoint-sm - 1) {
  .checkout-page {
    .summary {
      .title {
        padding: 15px;
      }

      .summary-content {
        padding: 0 15px;
      }
    }
  }
}

@include breakpoint($max: 400px) {
  .checkout-tab .radio-list .radio-image {
    flex-basis: 50%;
  }

  .radio-image {
    label .img {
      width: 100%;
    }
  }
}

body {
  &.show-personal-info {
    .cart-bar {
      .btn-back {
        display: none;
      }
    }
  }

  &.show-payment-method {
    .cart-main-btn {
      display: none;
    }
  }
}
