/**
 * BANNER CSS
 * Updated on 07/12/2016
 */

.banner {
    min-height: calc(100vh - 80px);
    background: url("../images/background.jpg") center no-repeat;
    background-size: cover;
    position: relative;
    .banner-itm {
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
        width: 600px;
    }
    h2 {
        font-size: 70px;
        text-transform: uppercase;
        margin-bottom: 60px;
        color: white;
        text-shadow: 1px 0px 1px #ddd;
        span {
            display: block;
            font-size: 50px;    
        }
    }
    .lk-banner {
        margin: 0 15px;
        width: 140px;
        text-transform: uppercase;
    }
} 