/**
 * FEATURES CSS
 * Updated on 07/12/2016
 */

.section-features {
    .inner {
        padding: 60px 0;
    }
}

.feature-itm {
    float: left;
    width: 20%;
    padding: 0 15px;
    figure {
        text-align: center;
    }
    img {
        width: 100px;
    }
    .feature-ct {
        text-align: center;
        height: 80px;
        overflow: hidden;
    }
    h3 {
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 5px;
        font-weight: bold;
    }
}  