{% macro pearlCard( params ) %}

  {% set defaultOrderLink = path('checkout') ~ '?subscriptionType=' ~ params.card.name|url_encode %}

  <div class="pearl-card-outer">
    <div class="pearl-card {{ params.classes|default('') }} {{ params.card.infoTexts ? 'has-info-text' : '' }}" data-json="{{params.card|json_encode|e('html_attr')}}">
      <div class="inner">
        <div class="img">
          <img src="{{ fe_assets('/images/pearl.svg') }}" alt="{{ params.card.title }}"/>
        </div>
        <h4 class="title">{{ params.card.title }}</h4>
        <div class="price-boxs">
          {% for info in params.card.priceInfos %}
            <div class="price-box" data-price-info="{{info.name}}">
              <p class="label">{{info.title}}</p>
              <p class="price">{{info.price}}
                {{params.card.currency}}</p>
            </div>
            {% if loop.index > 0 and not loop.last %}
              <div class="operator">
                +
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="info-texts">
          {% if params.card.infoTexts %}
            <ul>
            {% for item in params.card.infoTexts %}
              <li>{{ item }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="link">
          {% if params.isCheckBox %}
            <input type="radio" name="{{ params.checkbox.name }}" id="{{ params.checkbox.id }}" value="{{ params.checkbox.value }}" {{ params.checkbox.checked ? 'checked="checked"' : '' }}/>
            <label for="{{ params.checkbox.id }}">
              <button type="button" class="btn btn-second">{{ params.card.btnText }}</button>
            </label>
          {% else %}
            <a href="{{ params.card.btnLink ?: defaultOrderLink }}" class="btn btn-md btn-primary" title="{{ params.card.btnText }}">{{ params.card.btnText }}</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="notes">
      {% if params.card.notes %}
        {% for item in params.card.notes %}
          <p>{{ item }}</p>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endmacro %}
