@import '@/scss/base.scss';

.pearl-card {
  position: relative;
  padding: 30px 30px 25px;
  background: linear-gradient(142.59deg, #445e85 2.55%, #c0cee2 118.88%);
  border-radius: 30px;
  text-align: center;
  color: $color-white;

  &.has-info-text {
    padding: 30px 0 0 0;

    .info-texts {
      background-color: $color-gray2;
      color: $color-brown;

      ul {
        list-style: none;
        text-align: left;
        padding: 0;
        margin-bottom: 0;

        li {
          font-weight: 500;
          padding: 24px 25px;

          &:not(:last-child) {
            border-bottom: 1px solid #b4c4db;
          }
        }
      }
    }

    .inner {

      .link {
        background-color: $color-light;
        border-radius: 0px 0px 30px 30px;
        padding: 30px 0;

        @include mobile() {
          padding: 20px 0;
        }
      }
    }
    
  }

  .inner {
    display: flex;
    flex-direction: column;
    margin: auto;

    h4 {
      margin-bottom: 15px;
      font-weight: normal;
      color: $color-white;
    }

    .pearl-card__top {
      min-width: 300px;
      margin: 0 auto;
      
      @include mobile() {
        padding: 0 30px;
      }
    }
    
    .price-boxs {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;

      .operator {
        width: 50px;
        flex-basis: 50px;
        padding-top: 25px;
        font-size: 3rem;
      }

      .price-box {
        p {
          margin-bottom: 0;
        }

        .price {
          font-size: 3.2rem;
        }
      }
    }

    .link {
      margin-top: auto;

      input {
        position: absolute;
        opacity: 0;

        &:checked {
          + label {
            &:before {
              opacity: 1;
              visibility: visible;
            }

            .btn {
              border-color: $color-blue;
              background-color: $color-blue;
              color: $color-white;
            }
          }
        }
      }

      .btn {
        min-width: 300px;

        @include breakpoint($max: 575px) {
          min-width: 0;
          max-width: 90%;
        }
      }

      label {
        display: block;
        margin: 0 40px;
        cursor: pointer;

        &:before {
          @extend %icon-check;
          position: absolute;
          left: 30px;
          top: -50px;
          width: 69px;
          height: 69px;
          border: 13px solid $color-white;
          border-radius: 50%;
          padding: 12px 0;
          background-color: $color-blue;
          color: $color-white;
          font-size: 1.8rem;
          text-align: center;
          pointer-events: none;
          transition: opacity 0.5s;
          opacity: 0;
          visibility: hidden;
        }

        .btn {
          pointer-events: none;
        }
      }
    }
  }
}

.pearl-card-outer .notes {
  margin-top: 25px;
}

.pearl-card-list {
  .pearl-card {
    height: 100%;
    .inner {
      height: 100%;
    }
  }
  > .row {
    justify-content: center;
  }
}

@include tablet-down() {
  .pearl-card {
    .inner .price-boxs .price-box .price {
      font-size: 2.4rem;
    }
  }
}

@include mobile() {
  .pearl-card {
    .inner {
      display: block;
    }
  }

  .pearl-card-list {
    .pearl-card {
      height: auto;
      .inner {
        height: auto;
      }
    }
  }
}
