#post-body .qtranxs-lang-switch-wrap {
    display: none !important;
}
#post-body-content > .qtranxs-lang-switch-wrap:first-child{
    display: block !important;
}
#qtranxs-initial-install,
body.toplevel_page_manage-translation .qtranxs-lang-switch-wrap,
#qtranxs-survey-translation-service{
    display: none !important;
}
.text-hide {
    display: none;
}
.select2-container-multi .select2-choices .select2-search-field input{
    min-width: 100px;
}