#toplevel_page_edit-post_type-acf-field-group,
#menu-tools,
#menu-comments,
#menu-settings,
#menu-posts,
#wp-admin-bar-updates,
#wp-admin-bar-comments,
#wp-admin-bar-new-content,
#menu-users .wp-submenu li:last-child,
#menu-appearance .wp-submenu li,
#menu-plugins .wp-submenu li:last-child,
#wpbody-content .update-nag,
#toplevel_page_theme-options .wp-submenu li:last-child,
#toplevel_page_theme-options .wp-submenu li:nth-of-type(n + 3),
#toplevel_page_sync_acf {
    display: none !important;
}

#menu-appearance .wp-submenu li:nth-of-type(4) {
    display: block !important;
}

#user_role option[value=translator],
#user_role option[value=administrator],
#role option[value=translator],
#role option[value=administrator],
#createuser .ms-parent,
#ure_select_other_roles option[value=translator],
#ure_select_other_roles option[value=administrator],
body.post-type-page #submitpost #minor-publishing,
body.post-type-page #pageparentdiv {
    display: none !important;
}
