section.banner
    .inner
        .banner-itm.t-c
            h2
                span PROFESSIONAL
                | VIRtual reality
            a.lk-banner.btn.btn-bdline(href="#") learn more
            a.lk-banner.btn.btn-blue(href="#", data-toggle="modal", data-target="#signup") register now
// END: Banner blk