section.section-features
    .inner
        .container
            .feature-list.row
                .feature-itm
                    figure
                        img(src="./uploads/features/feature_1.jpg", alt="")
                    .feature-ct
                        h3 compresser
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industryw
                .feature-itm
                    figure
                        img(src="./uploads/features/feature_2.jpg", alt="")
                    .feature-ct
                        h3 reperorier
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industryw
                .feature-itm
                    figure
                        img(src="./uploads/features/feature_3.jpg", alt="")
                    .feature-ct
                        h3 scenariser
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industryw
                .feature-itm
                    figure
                        img(src="./uploads/features/feature_4.jpg", alt="")
                    .feature-ct
                        h3 boite a outils
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industryw
                .feature-itm
                    figure
                        img(src="./uploads/features/feature_5.jpg", alt="")
                    .feature-ct
                        h3 partager diffuser
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
// END: Features blk 