@import "@/scss/base.scss";
.payment-card {
  position: relative;
  padding: 34px;
  background: linear-gradient(0deg, #ffffff, #ffffff), linear-gradient(142.59deg, #445e85 2.55%, #c0cee2 118.88%);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.33);
  border-radius: 30px;
  text-align: center;

  h3 {
    margin-bottom: 34px;
    color: $color-dark-blue;
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 14px;

    &:nth-child(2) {
      margin-bottom: 30px;
    }

    .image {
      padding: 0 8px;
    }
  }

  .text {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .link {
    input {
      position: absolute;
      opacity: 0;

      &:checked {
        + label {
          .btn {
            border-color: $color-blue;
            background-color: $color-blue;
            color: $color-white;
          }
        }
      }
    }

    label {
      display: block;
      cursor: pointer;

      .btn {
        margin: 0 auto;
        pointer-events: none;
        max-width: 297px;
      }
    }
  }
}

.payment-methods .payment-card {
  display: flex;
  flex-direction: column;
  height: 100%;

  .link {
    margin-top: auto;
  }
}

@include mobile() {
  .payment-card {
    margin-top: 30px;
  }

  .payment-methods .payment-card {
    display: block;
    height: auto;
  }
}