{% macro paymendCard( params ) %}
  <div class="payment-card {{ params.classes|default('') }}"> 
    {% if params.title %}
      <h3 class="title">{{ params.title }}</h3>
    {% endif %}
    <div class="images">
      {% for image in params.images %}
        <div class="image">
          <img src="{{ image.imgsrc }}" alt="{{ image.alt }}"/>
        </div>
      {% endfor %}
    </div>
    {% if params.text %}
      <p class="text">{{ params.text }}</p>
    {% endif %}
    <div class="link">
      <input type="radio" name="{{ params.checkbox.name }}" id="{{ params.checkbox.id }}" value="{{ params.checkbox.value }}" {{ params.checkbox.checked ? 'checked="checked"' : '' }}/>
      <label for="{{ params.checkbox.id }}">
        <button type="button" class="btn btn-primary btn-block">{{ params.checkbox.btnText }}</button>
      </label>
    </div>
  </div>
{% endmacro %}
