{% use "@views/components/countries/countries-array.twig" %}
{% import "@views/macros/forms/forms.twig" as forms %}

{% set newOptions = [] %}

{% for e in countries %}
  {% set newOptions = newOptions|merge([e|merge({
    icon: 'flag-icon flag-icon-' ~ e.value|lower
  })]) %}
{% endfor %}

{{
  forms.selectpicker({
    name:'countries-2',
    id:'countries-2',
    options: newOptions,
    required: false,
    includeBlank: false,
    multiple: false,
    search: true
  })
}}
