{% use "@views/components/countries/countries-array.twig" %}
{% import "@views/macros/forms/forms.twig" as forms %}

{{
  forms.selectpicker({
    name:'countries',
    id:'countries',
    classes: 'abc ',
    options: countries,
    required: false,
    includeBlank: false,
    multiple: false,
    search: true
  })
}}
