{% macro input(params) %}
  <input {% if params.id %} id="{{ params.id }}" {% endif %} class="form-control {{ params.classes|default('') }}" type="{{ params.type|default('text') }}" name="{{ params.name }}" {% if params.value %} value="{{ params.value|e }}" {% endif %} {{ params.required ? 'required' : '' }} {{ params.autocomplete ? '' : 'autocomplete="off"' }} {% if params.placeholder %} placeholder="{{ params.placeholder }}" {% endif %} {{params.data ? params.data : ''}}/>
  {% if params.label %}
    <label for="{{ params.id }}">{{params.label}}</label>
  {% endif %}

  {% if params.helpText %}
    <span class="form-help">
      {{ params.helpText }}
    </span>
  {% endif %}

{% endmacro %}

{% macro inputWithLabel(params) %}
  <div class="form-group form-group-label {{ params.classes|default('') }}">
    {% if params.icon %}
      <i class="ic-label {{ params.icon }}"></i>
    {% endif %}
    {{ _self.input(params) }}
    {% if params.showChecked %}
      <i class="icon-check2"></i>
    {% endif %}
  </div>
{% endmacro %}

{% macro inputPassword(params) %}
  <div class="form-group form-group-label form-group-password {{ params.classes|default('') }}">
    {{ _self.input(params) }}
    <span data-toggle="#{{params.id}}" class="toggle-password icon-eye-slash"></span>
    {% if params.showChecked %}
      <i class="icon-check2"></i>
    {% endif %}
  </div>
{% endmacro %}

{% macro textarea(params) %}
  <textarea {% if params.id %} id="{{ params.id }}" {% endif %} class="form-control {{ params.classes|default('') }}" {{ params.required ? 'required' : '' }} rows="{{ params.rows|default(3) }}" name="{{ params.name }}"></textarea>
  {% if params.label %}
    <label for="{{ params.id }}">{{params.label}}</label>
  {% endif %}
{% endmacro %}

{% macro select(params) %}
  {% if params.label %}
    <label class="select-label" data-toggle="dropdown" for="{{ params.id }}">{{params.label}}</label>
  {% endif %}
  <select name="{{ params.name }}" id="{{ params.id }}" {{params.search ? 'data-live-search="true"' : ''}} {{ params.required ? 'required' : '' }} class="{{ params.classes|default('') }}" {{ params.multiple ? 'multiple' : '' }} {{params.data ? params.data : ''}}>
    {% if params.includeBlank %}
      <option value="" class="blank-option" {{ params.selected ? '' : 'selected' }}>{{ params.blankText ?: '' }}</option>
    {% endif %}
    {% for option in params.options %}
      {% if option.icon %}
        <option value="{{ option.value}}" {{ option.value == params.selected ? 'selected' : '' }} data-icon="{{option.icon}}">{{ option.label }}</option>
      {% else %}
        <option value="{{ option.value }}" {{ option.value == params.selected ? 'selected' : '' }}>{{ option.label }}</option>
      {% endif %}
    {% endfor %}
  </select>
{% endmacro %}

{% macro selectpicker(params) %}
  {% set classes = params.classes|default('') ~ ' selectpicker' %}
  {% set params = params|merge({classes: classes}) %}
  {{ _self.select(params) }}
{% endmacro %}

{% macro selectPhoneCode(params) %}
  {% set transformedOptions = [] %}

  {% for option in  params.options %}
    {% if option and option.iso2 %}
      {% set transformedOptions = transformedOptions|merge([{
      value: option.value,
      label: '+ ' ~ option.label,
      icon: 'flag-icon flag-icon-' ~ option.iso2|lower
      }]) %}
    {% endif %}
  {% endfor %}

  {% set params = params|merge({options: transformedOptions}) %}

  {{ _self.selectpicker(params) }}
{% endmacro %}

{% macro checkbox(params) %}
  <div class="{{ params.checkboxClass|default('custom-checkbox') }} {{ params.classes|default('') }}">
    <input type="checkbox" name="{{ params.name }}" id="{{ params.id }}" {% if params.value %} value="{{ params.value }}" {% endif %} {{ params.checked ? 'checked="checked"' : '' }}/>
    {% if params.label %}
      <label for="{{ params.id }}">{{params.label|raw}}</label>
    {% endif %}
  </div>
{% endmacro %}

{% macro checkbox2(params) %}
  {% set params = params|merge({checkboxClass: 'custom-checkbox2'}) %}
  {{ _self.checkbox(params) }}
{% endmacro %}

{% macro radio(params) %}
  <input type="radio" name="{{ params.name }}" id="{{ params.id }}" value="{{ params.value }}" {{ params.checked ? 'checked="checked"' : '' }}/>
  {% if params.label %}
    <label for="{{ params.id }}">
      {% if params.imgsrc %}
        <span class="img"><img src="{{ params.imgsrc }}" alt="{{params.label}}"/></span>
      {% endif %}
      {% if params.imgsrc %}
        <span class="name">
      {% endif %}
        {{params.label}}
      {% if params.imgsrc %}
        </span>
      {% endif %}
    </label>
  {% endif %}
{% endmacro %}

{% macro customRadio(params) %}
  {% set classes = 'custom-radio ' ~ params.classes|default('') %}
  <div class="{{classes}}">
    {{ _self.radio(params) }}
  </div>
{% endmacro %}

{% macro radioImage(params) %}
  {% set classes = 'radio-image ' ~ params.classes|default('') %}
  <div class="{{classes}}">
    {{ _self.radio(params) }}
  </div>
{% endmacro %}

{% macro termsCheckbox(params) %}
  {% set params = {
      id: 'terms',
      name: 'terms',
      label: 'I agree to <a href="%s" target="_blank" title="Terms & Conditions">Terms & Conditions</a>'|trans|format(params.global.siteConfig.termsAndConditionsUrl)
    }
  %}
  {{ _self.checkbox(params) }}
{% endmacro %}
