#shareModal.view-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-body
                form
                    .pop-list
                        .pop-itm
                            h3.pop-ttl Share
                            .pop-social
                                a(href="#")
                                    i.fa.fa-facebook
                                a(href="#")
                                    i.fa.fa-google
                                a(href="#")
                                    i.fa.fa-linkedin
                                a(href="#")
                                    i.fa.fa-instagram
                                a(href="#")
                                    i.fa.fa-pinterest
                                a(href="#")
                                    i.fa.fa-dribbble
                                a(href="#")
                                    i.fa.fa-behance
                            .form-group
                                input.form-control(type="text", placeholder="URL")
// END: Share modal