{% import "@views/macros/forms/forms.twig" as forms %}
<p class="label-required">{{ '* is required field'|trans }}</p>
<fieldset>
  <div class="form-group">
    {{
      forms.inputWithLabel({
        id: 'name',
        name: 'name',
        value: personalInfo.name ? personalInfo.name : '',
        type: 'text',
        required: 'true',
        label: 'Name'|trans ~ '*'
      })
    }}
  </div>
  <div class="form-group">
    {{
      forms.inputWithLabel({
        id: 'surname',
        name: 'surname',
        value: personalInfo.surname ? personalInfo.surname : '',
        type: 'text',
        label: 'Surname'|trans ~ '*'
      })
    }}
  </div>
  <div class="form-group">
    {{
      forms.inputWithLabel({id: 'address',
        name: 'address',
        value: personalInfo.address ? personalInfo.address : '',
        type: 'text',
        label: 'Address'|trans ~ '*'
      })
    }}
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group dropdown-select">
        {% set selectedCountry = personalInfo ? personalInfo.country.value : '' %}
        {{
          forms.selectpicker({
            name:'country',
            id:'country',
            options: options.countries,
            selected: selectedCountry,
            includeBlank: true,
            blankText: 'Country'|trans,
            label: 'Country'|trans ~ '*',
            required: true,
            multiple: false,
            search: true,
            data: 'data-country=""',
          })
        }}
      </div>
    </div>
    <div class="col-sm-6 d-none">
      <div class="form-group dropdown-select">
        {% set selectedState = personalInfo ? personalInfo.state.value : '' %}
        {{
          forms.selectpicker({name:'state',
            id:'state',
            options: options.states,
            selected: selectedState,
            includeBlank: true,
            blankText: 'State'|trans,
            label:'State'|trans,
            multiple: false,
            data: 'data-state=""',
            search: true
          })
        }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        {{
          forms.inputWithLabel({
            id: 'zipcode',
            name: 'zipcode',
            value: personalInfo ? personalInfo.zipcode : '',
            type: 'text',
            label: 'Zipcode'|trans ~ '*'
          })
        }}
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group dropdown-select">
        {% set selectedCity = personalInfo ? personalInfo.city.value : '' %}
        {{
          forms.selectpicker({
            name:'city',
            id:'city',
            options: options.cities,
            includeBlank: true,
            blankText: 'City'|trans,
            label: 'City'|trans ~ '*',
            selected: selectedCity,
            multiple: false,
            data: 'data-city=""',
            search: true })
        }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group input-group">
        <div class="input-group-prepend default-select">
          {% set selectedPhoneCode = personalInfo ? personalInfo.phoneCode.value : '' %}
          {{
            forms.selectPhoneCode({
              name:'phoneCode',
              id:'phoneCode',
              options: options.phoneCodes,
              selected: selectedPhoneCode,
              search: true,
              includeBlank: false,
              multiple: false
            })
          }}
        </div>

        {{
          forms.input({
            id: 'phone',
            name: 'phone',
            value: personalInfo ? personalInfo.phone : '',
            type: 'text',
            data: 'data-phone-us=""',
            required: true,
            placeholder: '0000000000'})
        }}
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        {{
          forms.inputWithLabel({
            id: 'email',
            name: 'email',
            value: personalInfo ? personalInfo.email : '',
            type: 'email',
            required: true,
            label: 'Email'|trans ~ '*',
            showChecked: true
          })
        }}
      </div>
    </div>
    {% if showSubmit %}
      <div class="form-group form-group-action col">
        <button class="btn btn-primary btn-submit" type="submit" disabled="disabled">{{ 'Save'|trans }}</button>
      </div>
    {% endif %}
  </div>
</fieldset>
