/**
 * ALLPAGE CSS
 * Updated on 07/12/2016
 */

p {
    margin-bottom: 1em;
}

.bodyover {
    overflow: hidden;   
}

// Layout CSS
.main {
    &.has-sidebar {
        .sidebar {
            display: block;
        }
    }
    &.wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: calc(100vh - 80px - 265px);
    }
    .sidebar {
        display: none;
    }
}

// Button CSS
.btn {
    padding: 10px;
    border: none;
    font-weight: bold;
    // text-transform: uppercase;
    height: 40px;
    @include transition(all .3s ease-out);
    &:focus {
        outline: none;
    }
    &.btn-bdline {
        background: transparent;
        border: 1px solid white;
        color: white;
        &:hover {
            background: $red;
            border-color: $red;
        }
    }
    &.btn-default {
        background: $dgray;
        color: $dkergray;
        &:hover, &:focus {
            background: darken($color: $dgray, $amount: 10%);
            color: black;
        }
    }
    &.btn-primary {
        background: $red;
        color: white;
        &:hover, &:focus {
            background: darken($color: $red, $amount: 10%);
            color: white;
        }
    }
    &.btn-blue {
        background: $blue;
        color: white;
        &:hover, &:focus {
            background: darken($color: $blue, $amount: 10%);
        }
    }
    &.btn-lblue {
        background: $lblue;
        color: white;
        &:hover, &:focus {
            background: darken($color: $lblue, $amount: 10%);
        }
    }
}

// Form CSS
.form-control {
    @include border-radius(0);
    &:focus {
        outline: none;
        border-color: rgba(0,0,0,.15);
    }
}

// Close button CSS
.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    @include border-radius(50%);
    border: 2px solid black;
    &:hover {
        border-color: lighten($color: black, $amount: 30%);
        .fa-close {
            color: lighten($color: black, $amount: 30%);
        }
    }
    .fa-close {
        font-size: 20px;
        color: black;
    }
}

// Sitemap CSS
.sitemap {
    ol {
        li {
            margin-bottom: 15px;
            a {
                font-size: 16px;
                color: $blue;
                padding-left: 15px;
            }
        }
    }
}

// Mobile helper class
.mb-show {
    display: none!important;
}