#login.modal.login-modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content.login-blk.clearfix
            .modal-body
                a.close-btn(href="javascript:;", data-dismiss="modal")
                    i.fa.fa-close
                h2 Sign in
                    span.txt-or  or
                    a(href="#")  Sign up
                form
                    .form-group
                        label(for="ark-email") Email
                        input.form-control#ark-email(type="text", name="ark-email")
                    .form-group
                        label(for="ark-pass") Password
                        input.form-control#ark-pass(type="password", name="ark-pass")
                    button.btn.btn-blue.md-submit(type="submit") Submit
                    .more-gr.t-r
                        a(href="#") Have you forgotten password?
// END: Login modal