#signup.modal.login-modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content.login-blk.clearfix
            .modal-body
                a.close-btn(href="javascript:;", data-dismiss="modal")
                    i.fa.fa-close
                h2 Sign Up
                form
                    .form-group
                        label(for="ark-user") Username
                        input.form-control#ark-user(type="text", name="ark-user")
                    .form-group
                        label(for="ark-pass") Password
                        input.form-control#ark-pass(type="password", name="ark-pass")
                    .form-group
                        label(for="ark-email") Email
                        input.form-control#ark-email(type="text", name="ark-email")
                    .form-group
                        label(for="ark-social") Social
                        input.form-control#ark-social(type="text", name="ark-social")
                    button.btn.btn-blue.md-submit(type="submit") Submit
                    .forgot-gr
                        | By signing up, you agree to the 
                        a(href="#") Terms of Service
                        | .
                    .more-gr(href="#") 
                        | Do you have an account?
                        a(href="#") Sign up
// END: Login modal