@import '@/scss/base.scss';

.sitemap-page {
    padding: 40px 0;
    h1 {
      text-align: center;
      @extend %h2;
    }
  .list-pages {
    margin-top: 50px;
    li {
      margin: 10px 0;
      font-weight: 500;
      @extend %h4;
    }
  }
}
