{% extends "@views/layouts/layout-blank.twig" %}
{# block declare #}
{%
  set viewData = {
    bodyClass: 'sitemap-page',
    jsController: 'sitemap',
  }
%}

{% block pageContent %}
  <div class="container">
    <h1>Sitemap</h1>
    <div class="row mt-5 pt-5">
      <div class="col-12">
        <ol class="list-pages js-list-pages m-0"></ol>
      </div>
      <div class="col-12 mt-5 pt-5">
        <ol class="list-pages js-dev-pages m-0">
          <h4 class="pb-2">Pages for development purpose</h3>
        </ol>
      </div>
    </div>

  </div>
{% endblock %}
