
@import "@/scss/base";

.block-panigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  text-align: center;

  .page-nav,
  .page-numbers {
    padding: 0 2px;
    margin: 0 6px;
    font-size: 1.8rem;
    line-height: 1;
    color: $color-brown;
    &:hover,
    &.current {
      color: $color-dark-blue;
    }
    &.current {
      pointer-events: none;
    }
    &.page-prev {
      margin-right: 15px;
    }
    &.page-next {
      margin-left: 15px;
    }
  }

  .page-nav {
    padding-top: .2rem;
    color: $color-dark-blue;
    font-size: 1.4rem;
    &.disabled {
      color: $color-gray;
      pointer-events: none;
    }
    &.page-first,
    &.page-last {
      font-size: 1.3rem;
    }
  }
}
