{# This pagination block's rendered using JS data binding,
   The variables are get from $scope.productDesigns
#}

<div
  class="block-panigation" rv-show="productDesigns.totalPage | > 1">
  {# Render first and prev #}
  <a class="page-nav page-first" data-page="1" rv-class-disabled="productDesigns.currentPage | == 1" href="#">
    <i class="icon-angle-double-left"></i>
  </a>
  <a class="page-nav disabled page-prev" rv-data-page="productDesigns.currentPage | - 1" rv-class-disabled="productDesigns.currentPage | == 1" href="#">
    <i class="icon-angle-left"></i>
  </a>

  {# Render page numbers #}
  <a class="page-numbers" rv-data-page="page" rv-each-page="productDesigns.pageNumbers" rv-class-current="productDesigns.currentPage | == page" href="#">{page}</a>

  {# Render next and last #}
  <a class="page-nav page-next" rv-data-page="productDesigns.currentPage | + 1" rv-class-disabled="productDesigns.currentPage | == productDesigns.totalPage" href="#">
    <i class="icon-angle-right"></i>
  </a>

  <a class="page-nav page-last" rv-data-page="productDesigns.totalPage" rv-class-disabled="productDesigns.currentPage | == productDesigns.totalPage" href="#">
    <i class="icon-angle-double-right"></i>
  </a>
</div>
