{% import "@views/macros/forms/forms.twig" as forms %}

<div id="tab1" class="checkout-tab show checkout-tab-personal-info" data-tab-name="personal-info">
  <div class="container">
    <h2>{{ 'Personal Info & Shipping Data'|trans }}</h2>
    <p class="lead">{{ 'Fill in your customer details or Sign In. These details will be used for Shipping.'|trans }}</p>
    <div class="row">
      <div class="col-md-6">
        <form action="#" class="form-checkout" id="formPersonalInfo">
          {%
            include "@views/components/personal-info-fields/personal-info-fields.twig" with {
              personalInfo: pageData.personalInfo,
              options: {
                countries: pageData.countries,
                phoneCodes: pageData.phoneCodes,
                states: pageData.states,
                cities: pageData.cities,
              }
            }
          %}
          <div class="term-condition">
            <div class="form-group">
              {{
                forms.termsCheckbox({
                  global: global
                })
              }}
            </div>
            <div class="form-group">
              {{
              forms.checkbox({
                id: 'isReceiveNewsletter',
                name: 'isReceiveNewsletter',
                label: 'I want to subscribe to Sarita newsletter to receive news about the product and special offers. You can unsubscribe at any time.'|trans,
                checked: true
              })
            }}
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="product-image middle">
          <div class="image">
            <img src="{{ fe_assets('/images/default-image.png') }}" alt=""/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
