<aside class="summary">
  <h3 class="title">{{'Summary'|trans}}</h3>
  {# Binding data from js controller's $scope #}
  <div class="summary-content" rv-show="shippingData">
    <div class="box">
      <h3>{{'Shipping Data'|trans}}</h3>
      <div class="box-info">
        <div class="box-info-left">
          {shippingData.name} {shippingData.surname}<br>
          {shippingData.address}<br>
          {shippingData.city},
          {shippingData.state},
          {shippingData.country}
          {shippingData.zipcode}<br>
          +{shippingData.phoneCode} {shippingData.phone}<br>
          {shippingData.email}
        </div>
        <div class="box-info-right">
          <span>
            {purchaseData.shippingLabel}
          </span>
          <span class="shipping-price color-dark-blue">
            {purchaseData.shippingFee} {purchaseData.currency}
          </span>
        </div>
      </div>
    </div>
    <div class="box box-purchase">
      <h3>{{'Purchase Data'|trans}}</h3>
      <div class="box-info">
        <div class="box-info-left">
          <div class="img">
            <img rv-src="purchaseData.productImage" rv-alt="purchaseData.productName"/>
          </div>
        </div>
        <div class="box-info-right">
          {purchaseData.productName}
          <br>
          <span class="color-dark-blue">
            {purchaseData.subscription}
          </span>
          <br>
          {purchaseData.prepaymentPrice} {purchaseData.currency} + {purchaseData.monthlyPrice} {purchaseData.currency}
        </div>
      </div>
    </div>
    <div class="box box-total">
      <div class="box-info">
        <div class="box-info-left">{{'Total'|trans}}</div>
        <div class="box-info-right">
          <span class="total-price">
            {purchaseData.total} {purchaseData.currency}
          </span>
        </div>
      </div>
    </div>
  </div>
</aside>
