{% import "@views/macros/payment-card/payment-card.twig" as cards %}

<div id="tab4" class="checkout-tab checkout-tab-payment-method" data-tab-name="payment-method">
  <div class="container">
    <h2>{{'Payment Method'|trans}}</h2>
    <p class="lead">{{'Please, select a Payment Method to continue shopping'|trans}}.</p>
    <form action="#" class="form-checkout" id="formPaymentMethod">
      <fieldset>
        <h4 class="total-box">{{'Total'|trans}}
          <span class="total">{product.total}</span>
        </h4>
        <div class="payment-methods">
          <div class="row">
            <div class="col-md-6">
              {{
                cards.paymendCard({
                  title: 'Credit & Debit Cards'|trans,
                  images: [
                    {
                      imgsrc: fe_assets('/images/dk-card.svg'),
                      alt: 'DK Payment Cards'|trans
                    },
                    {
                      imgsrc: fe_assets('/images/master-card.svg'),
                      alt: 'Mastercard'|trans
                    },
                    {
                      imgsrc: fe_assets('/images/visa-card.svg'),
                      alt: 'Visa Card'|trans
                    }
                  ],
                  checkbox:({
                    name: 'paymentMethod',
                    id: 'payment-method1',
                    value: 'credit-debit',
                    btnText: 'Pay'|trans
                  })
                })
              }}
            </div>
            <div class="col-md-6">
              {{
                cards.paymendCard({
                  text: 'The page will redirect to Paypal'|trans,
                  images: [{
                    imgsrc: fe_assets('/images/paypal.svg'),
                    alt: 'PayPal'
                  }],
                  checkbox:({
                    name: 'paymentMethod',
                    id: 'payment-method2',
                    value: 'paypal',
                    btnText: 'Pay'|trans
                  })
                })
              }}
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
