{% import "@views/macros/forms/forms.twig" as forms %}
<div id="tab2" class="checkout-tab" data-tab-name="product-design">
  <div class="container">
    <h2>{{'Product Design'|trans}}</h2>
    <p class="lead">{{'Please, select a product design to continue shopping'|trans}}.</p>
    <div class="row flex-row-reverse">
      <div class="col-lg-6">
        <div
          class="product-image" data-product-image="">
          {# JS wil call ajax and render this block #}
          <div class="image">
            <img rv-src="product.designImage" rv-alt="product.designName"/>
          </div>
          <h3 class="name">{product.designName}</h3>
        </div>
      </div>
      <div class="col-lg-6">
        <form action="#" class="form-checkout" id="formProductDesign">
          <fieldset>
            <div class="collections">
              <div class="form-group dropdown-select">
                {%
                  set collectionTypes = pageData.productDesign.collectionTypes
                %}

                {{
                  forms.selectpicker({
                    name:'type',
                    id:'type',
                    options: collectionTypes,
                    selected: collectionTypes[0].value,
                    includeBlank: false,
                    label: 'Collection'|trans,
                    multiple: false,
                    data: 'data-collection' } )
                }}
              </div>
            </div>

            <div class="radio-list">
              {# JS data binding $scope.productList #}
              <div class="radio-image" rv-each-product="productDesigns.list">
                <input type="radio" name="designType" rv-id="'design-type-' | concat product.id" rv-value="product.id">
                <label rv-for="'design-type-' | concat product.id">
                  <span class="img">
                    <img rv-src="product.imgsrc" rv-alt="product.label">
                  </span>
                  <span class="name">{product.label}</span>
                </label>
              </div>

            </div>
            {% include "@views/pages/checkout/inc/block-panigation.twig" %}
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
