{% import "@views/macros/forms/forms.twig" as forms %}
{% from "@views/macros/my-credit-card/my-credit-card.twig" import myCreditCard %}

{% set checkSummaryText = 'Please check all shipping and payment details'|trans ~ '.' %}
{% set finishText = 'Finish Purchase'|trans %}

<div id="tab5" class="checkout-tab checkout-tab-payment-data" data-tab-name="payment-data" data-continue-text="{{finishText}}">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form action="#" class="form-checkout form-payment" id="formPaymentCard" data-form-payment-data="">
          <div class="payment-content payment-content--by-paypal" data-payment-by-paypal>
            <h2>{{'Pay by Paypal'|trans}}</h2>
            <p class="lead">
              {{checkSummaryText}}
              <br>
              {{'The page will redirect to Paypal'|trans}}.
            </p>
          </div>

          <div class="payment-content payment-content--by-credit-card" data-payment-by-credit-card>
            <h2>{{'Payment Data'|trans}}</h2>
            <p class="lead">{{checkSummaryText}}</p>
            {% if pageData.myCards %}
              <fieldset class="payment-data-saved">
                <div class="list-cards">

                  {% set cards = pageData.myCards %}
                  {% for card in cards %}
                    <div class="card-checkbox">
                      {% set label = myCreditCard({
                        cardName: card.cardName,
                        last4Digits: card.last4Digits
                      })
                    %}

                    {{
                      forms.customRadio({
                        id: 'saved-' ~ card.id,
                        value: card.id,
                        name: 'savedCard',
                        label: label,
                        checked: loop.first ? true : false
                      })
                    }}
                    </div>
                  {% endfor %}

                </div>

                <div class="form-group">
                  {% set checked = pageData.myCards ? false : true %}
                  {{
                    forms.customRadio({
                      id: 'useNewCard',
                      value: 'new',
                      name: 'savedCard',
                      checked: checked,
                      label: 'Add new payment data'|trans
                    })
                  }}
                </div>
              </fieldset>
            {% endif %}
            <fieldset>
              <div class="payment-data-new" data-show-on-checked="#useNewCard">
                <h3>{{'New Payment Data'|trans}}</h3>
                {% include "@views/components/payment-data/payment-data.twig" %}
                {% include "@views/components/billing-address/billing-address.twig" with {
                  'countries': pageData.countries,
                  'states': pageData.states,
                  'cities': pageData.cities
                  }
                %}
              </div>
            </fieldset>
          </div>
        </form>
      </div>

      <div class="col-md-6">
        {% include "@views/pages/checkout/inc/step5-summary.twig" %}
      </div>
    </div>
  </div>
</div>
