{% import "@views/macros/pearl-card/pearl-card.twig" as cards %}

<div id="tab3" class="checkout-tab checkout-tab-subscription-type" data-tab-name="subscription-type">
  <div class="container">
    <h2>{{'Subscription Type'|trans}}</h2>
    <p class="lead">{{'Please, select a subscription to continue shopping'|trans}}.</p>
    <form action="#" class="form-checkout" id="formSubscriptionType">
      <fieldset>
        <div class="pearl-card-list">
          {% set subscriptionTypes = pageData.subscriptionTypes %}
          <div class="row">
            {% for type in subscriptionTypes %}
              <div class="col-md-6">
                {{
                  cards.pearlCard({
                    isCheckBox: true,
                    checkbox:({
                      name: 'subscriptionType',
                      id: 'type-' ~ type.name,
                      value: type.name
                    }),
                    card: ({
                      id: type.id,
                      title: type.title,
                      currency: type.currency,
                      total: type.total,
                      priceInfos: type.priceInfos,
                      btnText: 'Select'|trans
                    })
                  })
                }}
              </div>
            {% endfor %}
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
