{% import "@views/macros/forms/forms.twig" as forms %}

<div class="billing-address-group">
  <h3>{{'Billing Address'|trans}}</h3>
  <div class="form-group">
    {{
      forms.checkbox2({
        id: 'use-shipping-address',
        name: 'useShippingAddress',
        checked: true,
        label: 'Use as the Shipping addresss'|trans
      })
    }}
  </div>
  <div class="billing-address-fields">
    <p class="label-required">{{ '* is required field'|trans }}</p>
    <div class="form-group">
      {{
        forms.inputWithLabel({
          id: 'billingAddress',
          name: 'billingAddress',
          type: 'text',
          label: 'Address'|trans ~ '*',
          required: true
        })
      }}
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group dropdown-select">
          {{
            forms.selectpicker({
              name:'billingCountry',
              id:'billingCountry',
              options: countries,
              includeBlank: true,
              blankText: 'Country'|trans,
              label: 'Country'|trans ~ '*',
              required: true,
              multiple: false,
              search: true,
              data: 'data-country=""',
            })
          }}    
        </div>
      </div>
      <div class="col-sm-6 d-none">
        <div class="form-group dropdown-select">
          {{ 
            forms.selectpicker({
              name:'billingState', 
              id:'billingState', 
              options: states, 
              includeBlank: true, 
              blankText: 'State'|trans, 
              label: 'State'|trans, 
              multiple: false, 
              data: 'data-state=""',
              search: true 
              }) 
            }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          {{
            forms.inputWithLabel({
              id: 'billingZipcode',
              name: 'billingZipcode',
              type: 'text',
              label: 'Zipcode'|trans ~ '*',
              required: true
            })
          }}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group dropdown-select">
          {{ 
            forms.selectpicker({
              name:'billingCity', 
              id:'billingCity', 
              options: cities, 
              includeBlank: true, 
              blankText: 'City'|trans, 
              label: 'City'|trans ~ '*', 
              multiple: false, 
              data: 'data-city=""',
              search: true 
            }) 
          }}
        </div>
      </div>
    </div>
  </div>
</div>
