@import '@/scss/base';

$panel-radius: 23px;
$panel-header-height: 50px;
$padding-x: 40px;
$padding-x-mb: 20px;

.base-panel-card {
  .panel-header {
    border-radius: $panel-radius $panel-radius 0px 0px;
    height: $panel-header-height;
    padding-left: $padding-x;
    padding-right: $padding-x;
    display: flex;
    align-items: center;
    background: $color-main;

    .panel-header-label {
      color: $color-light;
      margin-right: 12px;
      @include mobile-xs() {
        max-width: 50%;
      }
    }

    .panel-header-value {
      color: $color-white;
    }

    .panel-header-buttons {
      margin-left: auto;
      color: $color-white;
      a {
        color: inherit;
        &:focus {
          outline: none;
        }
      }
      i {
        font-size: 2rem;
      }
    }
  }

  .panel-body {
    padding: 10px $padding-x 26px;
    border-radius: 0px 0px $panel-radius $panel-radius;
    background-color: $color-gray2;
  }

  @include mobile() {
    .panel-header {
      padding-left: $padding-x-mb;
      padding-right: $padding-x-mb;
    }

    .panel-body {
      padding-left: $padding-x-mb;
      padding-right: $padding-x-mb;
    }
  }
}
