{% macro planCard( params ) %}

  {% set classNames = (params.isExpired ? 'is-expired ' : '') ~ params.classes|default('') %}
  {% set headerLabel = params.isExpired ? 'Expired'|trans : params.headerLabel %}
  {% set isShowCancel = params.isShowCancel and (params.status == "completed") and (params.type != 'one_off') %}
  {% set json = {subscriptionId: params.subscriptionId}|json_encode|e('html_attr') %}

  <div
    class="plan-card base-panel-card {{classNames}}"
    data-json="{{json}}">
    {# Plan card header #}
    <div class="panel-header">

      <span class="panel-header-label">
        {{ headerLabel }}
      </span>

      {% if (params.status == "completed") or (params.status == "canceled" and params.type != "one_off") %}
        <span class="panel-header-value">
          {{ params.orderDate }}
        </span>
      {% endif %}

    </div>

    <div class="panel-body">
      <div class="block-infos">

        <div class="block-info block-info--subscription">
          <label>{{'Subscription'|trans}}</label>
          <p>{{params.info}}</p>
        </div>

        <div class="block-info block-info--pearl">
          <img src="{{ params.productImage }}" alt="pear-icon">
          <div class="info-text">
            <label>{{'Pearl'|trans}}</label>
            <p>{{params.productName}}</p>
          </div>
        </div>
      </div>
      {% if isShowCancel %}
        <button class="btn btn-second" rv-on-click="cancelSubscription">
          {{'Cancel Subscription'|trans}}
        </button>
      {% endif %}

    </div>
  </div>
{% endmacro %}
