@import '@/scss/base';
@import '_base-panel-card';

.plan-card {
  &.is-expired {
    .panel-header {
      background-color: $color-gray3;
    }
    .panel-header-label {
      color: #ffffff;
    }
  }

  .block-infos {
    display: flex;
    @include flex-row(2, 5px);
  }

  .block-info {
    margin: 10px 0;
    color: $color-black;
    label {
      font-weight: $font-bold;
      font-size: 1.8rem;
    }

    p {
      font-size: 1.6rem;
      margin-bottom: 0;
    }

    &--pearl {
      display: flex;
      align-items: flex-start;
      img {
        width: 44px;
        height: auto;
        margin-right: 8px;
      }
    }
  }

  .btn {
    margin-top: 30px;
  }

  @include mobile() {
    .block-infos {
      @include flex-row(1, 0);
    }
  }
}
