@import '~@/scss/base';
.site-footer {
  .nav-menu {
    list-style: none;
    margin: 0 0 40px;
    padding: 0;

    li {
      display: inline-block;
      vertical-align: top;
      margin-right: 26px;

      a {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 2.5;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        color: $color-black;
        transition: all 0.5s;

        &:hover {
          color: $color-link;
        }
      }
    }
  }

  .form-newsletter {
    margin-bottom: 40px;
    width: fit-content;

    legend {
      margin-bottom: 0;
      font-size: 2.4rem;
      color: $color-dark-blue;
    }

    .form-group {
      margin-bottom: 30px;

      .form-control {
        padding: 11px 0;

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          transition: background-color 5000s ease-in-out 0s;
          background-color: #f5f5f5 !important;
          box-shadow: 0 0 0 100px #f5f5f5 inset;
        }
      }
    }
  }
}

.footer-top {
  padding: 54px 0 47px;
  background-color: #f5f5f5;
}

.footer-boxs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .footer-box {
    width: 48%;
    margin-bottom: 38px;
    font-size: 1.4rem;

    &:nth-child(2n + 1) {
      clear: left;
    }

    .content {
      h4 {
        font-size: 1.4rem;
        font-weight: normal;
        color: $color-text;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        color: $color-black;
      }

      .company-social {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: fit-content;

        li {
          padding-right: 20px;

          a {
            color: $color-dark-blue;

            i {
              font-size: 2.2rem;
            }
          }
        }
      }
    }
  }
}

.footer-copy {
  padding: 20px 0;

  .flogos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    a:not(:last-child) {
      margin-right: 20px;
    }

    img {
      max-width: 180px;
    }
  }

  .copyright {
    padding: 26px 0;
    color: $color-black;
    text-align: center;
  }
}

@include mobile() {
  .site-footer {
    .nav-menu {
      margin-bottom: 25px;

      li {
        margin-right: 10px;
      }
    }

    .form-newsletter {
      margin-bottom: 30px;
    }
  }

  .footer-top {
    padding: 40px 0 20px;
  }

  .footer-boxs {
    display: block;

    .footer-box {
      margin-bottom: 20px;
      width: auto;
    }
  }

  .footer-copy {
    .copyright {
      padding-top: 0;
      padding-bottom: 10px;
    }

    .flogos {
      margin-bottom: 15px;
      justify-content: center;

      a {
        margin-bottom: 5px;
      }
      img {
        max-width: 100px;
      }
    }
  }
}
