{% import "@views/macros/navigation/nav.twig" as nav %}
{% import "@views/macros/forms/forms.twig" as forms %}

<footer class="site-footer">
  <div class="footer-top">
    <div class="container">
      {{
        nav.nav(global.siteConfig.footerPages,
        {classes:'nav-menu', target: '_blank', index: menuIndex })
      }}
      <div class="row">
        <div class="col-md-6">
          <form action="#" class="form-newsletter" id="formNewsletter">
            <fieldset>
              <legend>{{'Subscribe to our newsletter'|trans}}</legend>
              <div class="form-group">
                {{
                  forms.input({
                    id: 'newsletterEmail',
                    name: 'newsletterEmail',
                    type: 'email',
                    required: 'true',
                    placeholder: 'Email'|trans
                    })
                }}
              </div>
              <button type="submit" class="btn btn-primary btn-block">{{ 'Subscribe'|trans }}</button>
            </fieldset>
          </form>
        </div>
        <div class="col-md-6">
          <div class="footer-boxs">
            <div class="footer-box">
              <div class="content">
                <h4>{{ 'Contact us'|trans }}</h4>
                <ul>
                  <li><a href="tel:{{ global.siteConfig.footerContact.phones }}">{{ global.siteConfig.footerContact.phones }}</a></li>
                  <li><a href="mailto:{{ global.siteConfig.footerContact.email }}">{{ global.siteConfig.footerContact.email }}</a></li>
                </ul>
              </div>
            </div>
            <div class="footer-box">
              <div class="content">
                <h4>{{ 'Opening hours'|trans }}</h4>
                <ul>
                  <li>
                    {{ global.siteConfig.footerContact.dayOpen|raw }}<br/>
                    {{ global.siteConfig.footerContact.timeOpen }} - {{ global.siteConfig.footerContact.timeClose }}
                  </li>
                </ul>
              </div>
            </div>
            <div class="footer-box">
              <div class="content">
                <h4>{{ 'Follow Us on'|trans }}</h4>
                <ul class="company-social">
                  {% for social in global.siteConfig.footerContact.socials %}
                    <li>
                      <a href="{{ social.link }}" target="_blank" title="{{ social.title }}">
                        <i class="{{ social.icon }}"></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="footer-box">
              <div class="content">
                <h4>{{ 'Visit us'|trans }}</h4>
                <ul>
                  <li>
                    {{ global.siteConfig.footerContact.address|raw }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copy">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="flogos">
            {% for logo in global.siteConfig.footerCopyRight.footerLogos %}
              <a href="{{ logo.link }}" target="_blank">
                <img src="{{ logo.logoSrc }}" alt="{{ logo.title }}" />
              </a>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-8">
          <div class="copyright">{{ global.siteConfig.footerCopyRight.copyRight }}</div>
        </div>
      </div>
    </div>
  </div>
</footer>
