@import '~@/scss/base';
.cart-bar {
  padding: 30px 0;
  background-color: $color-gray2;
  color: $color-black;

  .cart-inner {
    display: flex;
    align-items: center;
  }

  .cart-left {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    padding-right: 15px;

    .cart {
      padding: 10px 40px 10px 0;
      font-size: 1.8rem;

      .cart-text {
        margin-left: 15px;
        font-weight: bold;
      }
    }

    .nav-cart {
      display: flex;
      padding: 23px 20px;
      background-color: $color-white;
      border-radius: 18px;

      .nav-cart-design {
        img {
          width: 47px;
          max-height: 47px;
          margin-right: 10px;
        }

        .type {
          display: inline-block;
          font-weight: 700;
        }
      }

      .nav-cart-box {
        display: block;
        margin-left: 15px;
        padding-left: 15px;
        border-left: 1px solid $color-border;

        .lb {
          display: block;
          font-size: 1.4rem;
        }

        .number {
          white-space: nowrap;
          font-weight: 700;
        }

        .total {
          white-space: nowrap;
          color: $color-main;
          font-weight: bold;
        }
      }
    }
  }

  .cart-right {
    display: flex;
    justify-content: center;
    width: fit-content;

    .btn {
      &:first-child {
        margin-right: 30px;
      }

      & + .btn {
        min-width: 221px;
      }
    }
  }
}

@include breakpoint($min: $breakpoint-lg, $max: $breakpoint-xl - 1) {
  .cart-bar {
    .cart-left {
      .cart {
        padding-right: 10px;

        .cart-text {
          font-size: 1.4rem;
        }
      }

      .nav-cart {
        padding: 20px 15px;

        .nav-cart-box {
          padding-left: 10px;
          margin-left: 10px;
        }
      }
    }

    .cart-right {
      .btn {
        &:first-child {
          margin-right: 10px;
        }

        & + .btn {
          min-width: auto;
        }
      }
    }
  }
}

@include tablet-down() {
  .cart-bar .cart-inner {
    display: block;

    .cart-left {
      padding-right: 0;
    }

    .cart-right {
      margin: 30px -10px 0;
      width: auto;
      align-items: center;

      .btn {
        margin: 0 10px;

        & + .btn {
          min-width: auto;
        }
      }
    }
  }
}

@include mobile() {
  .cart-bar .cart-inner {
    .cart-left {
      display: block;

      .cart {
        padding-right: 0;
      }

      .nav-cart {
        display: block;

        .nav-cart-box {
          border-left: 0;
          margin-left: 0;
          padding-left: 60px;

          + .nav-cart-box {
            margin-top: 10px;
          }
        }
      }
    }

    .cart-right {
      .btn {
        padding: 11px 32px;
        flex-shrink: 0;
        font-size: 1.4rem;

        &:last-child {
          flex-grow: 2;
        }
      }

      .btn-back {
        padding-left: 55px;
        flex-grow: 1;

        &:before {
          left: 25px;
        }
      }
    }
  }
}
