<div class="cart-bar">
  <div class="container">
    <div class="cart-inner">
      <div class="cart-left">
        <div class="cart">
          <i class="icon-cart-plus"></i>
          <span class="cart-text">{{ 'Your Purchase'|trans }}</span>
        </div>
        <div class="nav-cart" rv-show="product.designImage">
          <div class="nav-cart-design">
            <img rv-src="product.designImage" rv-alt="{{ 'Sarita Pearl'|trans }}"/>
            <span class="type">{product.designName}</span>
          </div>
          <div class="nav-cart-box" rv-show="product.total">
            <span class="lb">{{ 'Subscription'|trans }}</span>
            <span class="number">
              { product.detailPrices }
            </span>
          </div>
          <div class="nav-cart-box" rv-show="product.total">
            <span class="lb">{{ 'Total'|trans }}</span>
            <span class="total">
              <span class="number">{product.total}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="cart-right">
        <a href="javascript:void(0);" class="btn btn-back" data-back="" title="Back">{{ 'Back'|trans }}</a>
        <button type="button" class="btn btn-primary disabled cart-main-btn" data-continue="">{{ continueText|default('Continue'|trans) }}</button>
      </div>
    </div>
  </div>
</div>
