{% import "@views/macros/forms/forms.twig" as forms %}
<p class="label-required">{{ '* is required field'|trans }}</p>
{{ forms.inputWithLabel({
  id: 'cardNumber',
  name: 'cardNumber',
  type: 'text',
  required: true,
  label: 'Card Number'|trans ~ '*',
  icon:'icon-credit-card',
  data: 'data-card-number=""' })
}}
<div class="row">
  <div class="col-sm-6">
    {{ forms.inputWithLabel({
      id: 'expiryDate',
      name: 'expiryDate',
      type: 'text',
      required: true,
      label: 'MM/YY' ~ '*', 
      data: 'data-expiry-date=""'
      })
    }}
  </div>
  <div class="col-sm-6">
    {{ forms.inputWithLabel({
      id: 'cvv',
      name: 'cvv',
      type: 'text',
      required: true,
      label: 'CVV' ~ '*',
      data: 'data-cvv=""'
      })
    }}
  </div>
</div>
{{ forms.inputWithLabel({
  id: 'cardName',
  name: 'cardName',
  type: 'text',
  required: true,
  label: 'Card Holder Name'|trans ~ '*'
  })
}}
