{% extends "@views/layouts/layout-default.twig" %}
{# block declare #}

{%
  set viewData = {
    bodyClass: 'checkout-success',
    jsController: '',
    headerType: ''
  }
%}

{% block pageContent %}
  <div class="checkout-congratulation">
    <div class="container">
      <div class="congratulations">
        <div class="row">
          <div class="col-lg-7">
            <h2 class="color-blue">{{'Congratulations!'|trans}}</h2>
            <h3>{{'Order Confirmation Number'|trans}}:
              <span class="color-dark-blue">{{ pageData.orderCode }}</span>
            </h3>
            <div class="message">
              {{pageData.message|raw}}
            </div>
            <div class="link">
              <a href="{{ path('home') }}" class="btn btn-primary btn-md">{{'Return to the Landing page'|trans}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
