@import '~@/scss/base';
.checkout-congratulation {
  position: relative;
  z-index: 2;
  padding-bottom: 15vw;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    right: -4.6vw;
    bottom: 0;
    background: url('~@/assets/images/bg-congratulation.png') right bottom
      no-repeat;
    background-size: contain;
    width: 45vw;
    height: 51vw;
  }

  .congratulations {
    margin-top: 10vw;
  
    h2 {
      margin-bottom: 2rem;
    }
  
    h3 {
      margin-bottom: 4.5rem;
    }
  
    a:not(.btn) {
      color: $color-dark-blue;
      font-size: 2.4rem;
    }
  
    .link {
      margin-top: 10rem;
      margin-bottom: 0;
    }
  }
}

@include breakpoint($max: $breakpoint-xl - 1) {
  .checkout-congratulation {
    background-size: 40.6vw 46.5vw;
  }  
}


@include breakpoint($min: 1441px) {
  .checkout-congratulation {
    padding-bottom: 15.25vw;

    &:after {
      right: 0;
      width: 37vw;
      height: 43vw;
    }
  }  
}

@include tablet-down() {
  .checkout-congratulation {
    .congratulations {
      text-align: center;
    }

    &:after {
      display: none;
    }
  }
}

@include mobile() {
  .checkout-congratulation {
    padding-bottom: 10rem;

    .congratulations {
      h3 {
        margin-bottom: 3rem;
      }
  
      .link {
        margin-top: 3rem;
      }
    }
  }
}