{# Model - Generated from checkout-success.json #}
    {% set pageData = {
  "orderCode": pageData.orderCode,
  "message": pageData.message
}%}

{% include "@views/pages/checkout-success/checkout-success.twig" %}
  