{% extends "@views/global.model.twig" %}
{% block website %}
  <!DOCTYPE html>
  {% set layoutData = {layoutClass: ''} %}
  <html {{ function('language_attributes') }}>
    <head>
      <meta charset="{{ function('bloginfo', 'charset') }}">
      <meta name="description" content="{{ global.siteDescription }}">
      {% include "@views/blocks/head-tags.twig" %}
      {% from "@views/blocks/js-translation.twig" import getJsTranslation %}

      {{ function('wp_head') }}

      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

      {% set wpConfig = {
          isMock: global.isAdapter,
          ajaxUrl: global.ajaxUrl,
          feAssetsUrl: global.feAssetsUrl,
          jsTranslation: getJsTranslation(_context),
          urls: {
            home: path('home'),
            myAccount: path('myAccount'),
            logout: path('logout'),
          }
        }
      %}

      <script>
        var eli = {
          controller: "{{ viewData.jsController }}",
          wpConfig: {{ wpConfig|json_encode|raw }}
        };
      </script>

      {% set bodyLoggedClass = global.user ? ' is-logged' : '' %}

    </head>
    <body {{ function('body_class',("sarita-theme" ~ bodyLoggedClass ~ " " ~ viewData.bodyClass)) }}>
      <div class="site">
        {% block bodyContent %}
          <h1>
            Body say hi!!
          </h1>
        {% endblock %}
      </div>
      {% if global.isAdapter %}
        {{log(_context)}}
      {% endif %}
      {% block footerContent %}{% endblock %}
      {{ function('wp_footer') }}
    </body>
  </html>
{% endblock %}
