{% extends "@views/layouts/layout-basic.twig" %}

{% block bodyContent %}

  {% include "@views/components/header/header.twig" with {
    'headerType': viewData.headerType,
    }
  %}

  <main class="site-main">
    {% block pageContent %}{% endblock %}
  </main>
  {% include "@views/components/sing-in-modal/sing-in-modal.twig" %}
  {% include "@views/components/footer/footer.twig" %}

  <div class="site-overlay"></div>

{% endblock %}
