{% macro myCreditCard(params) %}
  <div class="my-card" data-card-id="{{params.id}}">
    <i class="icon-credit-card ic-card"></i>
    <div class="my-card-content">
      <div class="card-info">
        <span class="card-lb">{{ params.cardName }}</span>
        <span class="card-number">XXXX-XXXX-XXXX-{{ params.last4Digits }}</span>
      </div>
      {% if params.action %}
        <div class="card-action">
          <button class="btn btn-second" type="button" data-{{params.action.name}}>{{params.action.title}}</button>
        </div>
      {% endif %}
    </div>
  </div>
{% endmacro %}
