@import '@/scss/base';

.my-card {
  margin-bottom: 25px;
  display: inline-flex;

  .my-card-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 25px;
  }

  .ic-card {
    font-size: 47px;
    margin-top: 1rem;
    color: $color-dark-blue;
  }

  .card-info {
    min-width: 195px;
  }

  span {
    display: block;
  }

  .card-lb {
    font-size: 2.4rem;
  }

  .card-number {
    white-space: nowrap;
  }

  .card-action {
    margin-left: 25px;
    margin-top: 1rem;

    .btn {
      min-width: 190px;
    }
  }

  @include mobile() {
    .my-card-content {
      margin-left: 20px;
    }
    .ic-card {
      margin-top: 1.2rem;
    }
    .card-action {
      flex-basis: 100%;
      margin-left: 0;
      margin-top: 0;
      padding-top: 15px;
    }
  }
}
