footer.footer
    .inner
        .footer-top
            .container
                .row
                    .col-md-3.col-xs-6
                        ul.menu-footer
                            li
                                a(href="#")
                                    i.fa.fa-angle-right
                                    | Contact
                            li
                                a(href="#")
                                    i.fa.fa-angle-right
                                    | DMCA Copyright Policy
                            li
                                a(href="#")
                                    i.fa.fa-angle-right
                                    | Mention
                    .col-md-3.col-xs-6
                        ul.menu-footer
                            li
                                a(href="#")
                                    i.fa.fa-angle-right
                                    | Blog
                    .col-md-3.col-xs-6.social-footer
                        nav.social-links
                            a(href="#")
                                i.fa.fa-facebook
                            a(href="#")
                                i.fa.fa-linkedin
                            a(href="#")
                                i.fa.fa-twitter
                            a(href="#")
                                i.fa.fa-youtube
                    .col-md-3.col-xs-6
                        a.logo-footer(href="#")
                            img(src="./images/logo_footer.png", alt="")
        .footer-bottom.container-fluid
                p.pull-left ARSKAN has been the industry's standard dummy 
                    a(href="#")
                        img(src="./images/logo_company.png", alt="")
                    | . Copyright Arskan. All Rights Reserved &copy; 2016
                a.link-mail(href="#")   
                    i.fa.fa-envelope                    
// END: Footer blk 