header.header
    .inner.clearfix
        a.logo.pull-left(href="#")
            img(src="./images/logo.png", alt="")
        .mobile-nav
            a(href="javascript:;")
                i.fa.fa-bars
        nav.main-nav.pull-right
            ul.main-menu.pull-left.clearfix
                li
                    a(href="#") solutions
                li
                    a(href="#") business
                li
                    a(href="#") a prospos
                li
                    a(href="#") blog
                li
                    a(href="#") contact
                li.language
                    a.lang-btn(href="#") english 
                        i.fa.fa-angle-down
                    ul.sub-menu
                        li
                            a(href="#") french
            .login-menu.pull-left
                a.btn.btn-blue.iden-btn(href="#", data-toggle="modal", data-target="#login") Identification
// END: Header blk