header.header
    .inner.clearfix
        a.logo.pull-left(href="#")
            img(src="./images/logo.png", alt="")
        .mobile-nav
            a(href="javascript:;")
                i.fa.fa-bars
        nav.main-nav.pull-right
            a.banner-lk.pull-left(href="#")
                img(src="./uploads/banner/ban_1.jpg", alt="")
            ul.main-menu.pull-left.clearfix
                li
                    a(href="#") my silodata
                li
                    a(href="#") my account
                li.language
                    a.lang-btn(href="#") english 
                        i.fa.fa-angle-down
                    ul.sub-menu
                        li
                            a(href="#") french
            .login-menu.pull-left
                a.btn.btn-blue(href="#", data-toggle="modal", data-target="#login") Identification
// END: Header blk