// JS: SCRIPTS
script(src="scripts/libs/jquery-1.11.1.min.js")
script(src="scripts/libs/main.js")
script(src="scripts/plugins/bootstrap.min.js")
script(src="scripts/plugins/owl.carousel.min.js")
script(src="scripts/plugins/clickoutside.min.js")
//- script(src="scripts/plugins/amchart/amchart.js")
//- script(src="scripts/plugins/amchart/pie.js")
//- script(src="scripts/plugins/amchart/light.js")
script(src="scripts/start.js")

