{# Model - Generated from my-account.json #}
    {% set pageData = {
  "personalInfo": {
    "name": pageData.personalInfo.name,
    "surname": pageData.personalInfo.surname,
    "address": pageData.personalInfo.address,
    "country": {
      "value": pageData.personalInfo.country.value,
      "label": pageData.personalInfo.country.label
    },
    "state": {
      "value": pageData.personalInfo.state.value,
      "label": pageData.personalInfo.state.label
    },
    "zipcode": pageData.personalInfo.zipcode,
    "city": {
      "value": pageData.personalInfo.city.value,
      "label": pageData.personalInfo.city.label
    },
    "phoneCode": {
      "value": pageData.personalInfo.phoneCode.value,
      "label": pageData.personalInfo.phoneCode.label,
      "iso2": pageData.personalInfo.phoneCode.iso2
    },
    "phone": pageData.personalInfo.phone,
    "email": pageData.personalInfo.email
  },
  "subscriptions": pageData.subscriptions,
  "myCards": pageData.myCards ? (pageData.myCards) : [],
  "countries": pageData.countries,
  "states": pageData.states,
  "cities": pageData.cities,
  "phoneCodes": pageData.phoneCodes,
  "languages": pageData.languages
}%}

{% include "@views/pages/my-account/my-account.twig" %}
  