@import '@/scss/base';

.my-account-page {
  .my-account-wrapper {
    margin-top: 15px;

    .container {
      position: relative;
    }
  }

  .page-header {
    padding-bottom: 25px;

    .h2 {
      margin-bottom: 0;
    }
  }

  .tab-content {
    .tab-pane {
      padding-top: 40px;
      padding-bottom: 50px;
    }
    h3 {
      margin-bottom: 20px;
    }
  }

  .nav-tabs {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;

    .nav-link {
      flex-shrink: 1;

      &:nth-child(2) {
        padding-left: 0;
      }

      &:not(:last-child) {
        margin-right: 97px;
      }
    }
  }

  .col-logout {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .btn-icon {
      color: $color-dark-blue;
      display: inline-flex;
      align-items: center;

      i {
        margin-right: 13px;
        font-size: 2.2rem;
      }
    }
  }

  .form-max-width {
    max-width: 455px;
  }

  form {
    .form-group {
      margin-bottom: 20px;
    }

    .form-group-action {
      padding-top: 30px;
      margin-bottom: 0;

      .btn {
        min-width: 187px;
      }
    }
  }

  .form-group-label {
    label {
      color: $color-brown;
    }
  }

  @include tablet-down() {
    .nav-tabs {
      justify-content: space-between;
      .nav-link {
        &:not(:last-child) {
          margin-right: 0;
        }
      }
    }

    .form-max-width {
      max-width: 100%;
    }
  }

  @include mobile() {
    .my-account-wrapper {
      .main-container {
        position: relative;
      }
    }

    .nav-tabs {
      flex-wrap: nowrap;
      text-align: center;
      .nav-link {
        display: flex;
        align-items: center;
      }
    }

    .col-logout {
      position: absolute;
      top: 5px;
      right: 0;

      .btn-icon {
        i {
          font-size: 2.5rem;
        }
      }
    }
  }

  @include mobile-sm() {

    .col-logout {
      top: 4rem;
      .btn-icon i {
        font-size: 2rem;
        padding-top: 2px;
        margin-right: 10px;
      }
    }
  }
}

.tab-personal-info {
  @include tablet-down() {
    .form-personal-info {
      margin-bottom: 50px;
    }
  }
}

.tab-my-subscriptions {
  .plan-cards {
    .plan-card-wrap {
      margin-bottom: 28px;
    }

    .plan-card {
      height: 100%;
      border-radius: 23px;
      background-color: $color-gray2;
    }
  }

  .subscription-empty {
    color: $color-brown;
  }

  @include mobile() {
    .plan-cards {
      .plan-card {
        height: auto;
      }
    }
  }
}

.overview-layout {
  .ps {
    &:hover {
      .ps__rail-x {
        opacity: 0;
      }
    }
  }
  .form-filter {
    .form-group-action {
      padding-top: 14px;

      .btn {
        width: 100%;
        min-width: auto;
        padding: 18px 20px;
      }
    }

    .default-select .bootstrap-select .dropdown-toggle {
      padding: 3px 10px 12px 0;
    }
  }

  aside {
    .filter-action {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 36px;
      margin-bottom: 20px;

      .action {
        font-size: 1.8rem;
        color: $color-dark-blue;
        font-weight: bold;

        i {
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
          font-size: 3rem;
        }
      }

      .action-filter {
        display: none;
      }
    }
  }

  .row-order-cards {
    > div {
      margin-top: 69px;

      &:first-child,
      &:nth-child(2) {
        margin-top: 0;
      }
    }

    .order-card {
      height: 100%;
      display: flex;
      flex-direction: column;
      .panel-body {
        min-height: 132px;
        flex: 1;
      }
    }
  }

  .history-box {
    position: relative;
    margin-right: -10px;
    padding-right: 10px;

    .history-empty {
      display: none;
      color: $color-dark-blue;
    }

    &.empty {
      .history-empty {
        display: block;
      }

      .row-order-cards > div {
        margin-top: 0 !important;
      }
    }
  }

  @include breakpoint($min: 1370px) {
    .history-box {
      margin-right: -6.9vw;
      padding-right: 6.9vw;
    }
  }

  @include breakpoint($max: $breakpoint-xl - 1) {
    .row-order-cards {
      > div {
        margin-top: 30px;

        &:nth-child(2) {
          margin-top: 0;
        }
      }
    }

    aside .filter-action .action {
      font-size: 1.6rem;

      i {
        font-size: 2rem;
      }
    }
  }

  @include tablet-down() {
    aside {
      position: relative;

      .form-filter {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 44px;
        width: 100%;
        padding: 20px;
        background-color: $color-white;
        box-shadow: 0px 1px 11px rgba(55, 73, 101, 0.2);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s;
        transform: translateY(50px);

        &.show {
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
          transform: translateY(0);
        }

        .form-group-action {
          .btn {
            width: 290px;
          }
        }
      }

      .filter-action {
        margin-top: 0;

        .action-filter {
          display: block;

          i {
            font-size: 2.2rem;
          }
        }
      }
    }
  }

  @include mobile() {
    .form-filter {
      margin-bottom: 50px;
    }

    .row-order-cards {
      > div {
        &:nth-child(2) {
          margin-top: 30px;
        }
      }
    }
  }
}

.tab-payment-data {
  .list-cards {
    padding-bottom: 25px;

    .card-empty {
      margin-bottom: 25px;
      color: $color-brown;
    }
  }

  @include tablet-down() {
    .history-box {
      margin-right: -10px;
      padding-right: 10px;
    }

    .form-payment-data {
      .form-max-width {
        margin-bottom: 50px;
      }
    }
  }

  @include mobile() {
    .my-card {
      .ic-card {
        font-size: 30px;
      }
    }
  }
}
