{% extends "@views/layouts/layout-default.twig" %}
{% import "@views/macros/forms/forms.twig" as forms %}

{# block declare #}

{%
  set viewData = {
    bodyClass: 'my-account-page',
    jsController: 'my-account',
    headerType: ''
  }
%}

{% block pageContent %}
  <div class="my-account-wrapper">
    <div class="container main-container">
      <div class="page-header">
        <h1 class="h2">
          {{'My Account'|trans}}
        </h1>
      </div>
      <div class="page-body">
        <div class="my-account-tabs">
          <nav>
            <div class="row">
              <div class="col-lg-10 col-md-9">
                <div class="nav nav-tabs vertical-on-mobile">
                  <a class="nav-item nav-link" data-toggle="tab" href="#tab-personal-info">{{'Personal Info'|trans}}</a>
                  <a class="nav-item nav-link" data-toggle="tab" href="#tab-subscriptions">{{'My Subscriptions'|trans}}</a>
                  <a class="nav-item nav-link" data-toggle="tab" href="#tab-payment-data">{{'Payment Data'|trans}}</a>
                </div>
              </div>
              <div class="col col-logout">
                <a class="btn-icon btn-logout" data-logout href="javascript:void(0);">
                  <i class="icon-logout"></i>
                  {{'Log Out'|trans}}
                </a>
              </div>
            </div>

          </nav>
          <div class="tab-content">
            {% include "@views/pages/my-account/inc/personal-info.twig" %}
            {% include "@views/pages/my-account/inc/my-subscriptions.twig" %}
            {% include "@views/pages/my-account/inc/payment-data.twig" %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
