{% macro nav(items, params = null, i = 0, level = 0 ) %}
  <ul class="{{ params.classes|default('') }}">
    {% for key, item in items %}
      {% set menuItemChiren = item.itemsMenu|length ? ' menu-item-has-children' : null %}
      {% set i = i + 1 %}
      <li class="menu-item-{{i}} menu-item {{ i == params.index ? ' current-menu-item' : null }} {{menuItemChiren}}">
        <a href="{{ item.href }}" target="{{ params.target|default('_self') }}" title="{{item.title}}">{{item.title}}</a>
        {% if item.itemsMenu|length %}
          {{ _self.nav(item.itemsMenu, item.itemParams, i, level + 1) }}
        {% endif %}
      </li>
      {% if ( item.itemsMenu|length) %}
        {% set i = i + item.itemsMenu|length %}
      {% endif %}
    {% endfor %}
  </ul>
{% endmacro %}
