/**
 * Media 480px-767px
 *
 * description: css rules for screen of new moderm smartphone
 */
@media (max-width: 767px) {
    .main-nav {
        visibility: hidden;
        @include opacity(0);
        @include transition(all .3s ease-out);
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        z-index: 15;
        background: black;
        margin: 0;
        padding-bottom: 15px;
        height: calc(100% - 50px);
        overflow-x: hidden;
        overflow-y: auto;
        &.open {
            visibility: visible;
            @include opacity(1);
        }
    }
    .mobile-nav {
        display: block;
    }
    .main-menu {
        float: none;
        > li {
            float: none;
            &.language {
                margin: 0;
            }
            > a {
                height: 55px;
                padding: 0 15px;
                font-size: 16px;
                line-height: 55px;
            }
        }
    }
    .sub-menu {
        position: static;
        a {
            text-align: left;
            padding-left: 15px;
            font-size: 16px;
        }
    }
    .login-menu {
        padding-left: 15px;
        margin-top: 15px;
        height: auto;
        line-height: normal;
    }
}

@media (max-width: 767px) {
    .header {
        height: 50px;
    }
    .logo {
        margin: 3px 0 0 15px;
        width: 130px;
    }
    .link-mail {
        display: none;
    }
    .section-login {
        .inner {
            padding: 25px 15px;
        }
    }

    // Login blk CSS
    .login-blk {
        width: auto;
        margin: 10px;
        padding: 30px 15px;
        h2 {
            font-size: 30px;
            margin-bottom: 20px;
            a {
                font-size: 22px;
            }
        }
        .form-group {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 767px) {
    .silo-blk {
        border: none;
        padding-left: 0;
        padding-right: 0;
        &.has-srch {
            padding-top: 30px;
            .silo-ttl {
                top: -17px;
            }
        }
    }
    .silo-ttl {
        padding: 0;
        padding-bottom: 10px;
        display: block;
        border-bottom: 1px solid $dgray;
        text-align: center;
    }
    .silo-srch {
        position: relative;
        top: auto;
        right: auto;
        margin-bottom: 15px;
        .ip-srch {
            width: 100%;
            padding-left: 60px;
            padding-right: 10px;
        }
        .silo-btn {
            left: 1px;
            border-left: none;
            border-right: 1px solid rgba(0,0,0,.15);
            width: 50px;
            background: none;
            &:hover {
                border-right-color: $gray;
            }
        }
    }
    .silo-info {
        padding-top: 7px;
        padding-bottom: 7px;
        h4 {
            margin-bottom: 10px;
            height: 35px;
        }
    }
}

@media (max-width: 767px) {
    .hasbd-mb {
        border: 2px solid $dgray;
        padding-left: 15px;
        padding-right: 15px;
        .silo-ttl {
            padding: 0 5px;
            font-size: 14px;
            top: -12px;
            text-align: left;
            border: none;
            display: inline;
        }
    }
    .banner {
        height: 500px;
        .banner-itm {
            width: 400px;
            h2 {
                font-size: 50px;
                span {
                    font-size: 36px;
                }
            }
        }
    }
    .feature-itm {
        width: auto;
        float: none;
        margin-bottom: 15px;
    }
    .menu-footer {
        .fa-angle-right {
            font-size: 12px;
            top: 3px;
        }
        a {
            font-size: 13px;
        }
    }
}

@media (max-width: 500px) {
    .hasbd-mb {
        .silo-ttl {
            font-size: 13px;
            left: -15px;
        }
    }
}