/**
 * Media 1200px+
 *
 * description: css rules for screen of tablets
 */
@media (max-width: 1200px) {
    .silo-srch {
        top: 23px;
    }
}

@media (max-width: 1000px) {
    .banner-lk {
        display: none;
    }
}

@media (max-width: 1024px) {
    .wrapper {
        .content {
            width: 66.66666%;
        }
        .sidebar {
            width: 33.33333%
        }
    }
    .chart-list {
        padding: 0 60px;
    }
}

@media (max-width: 992px) { 
    .section-login {
        min-height: auto;
    }
    .my-acc-itm {
        margin-bottom: 30px;
        &:last-child {
            margin: 0;
        }
    }
    .silo-blk {
        margin-bottom: 30px;
        &:last-child {
            margin: 0;
        }
    }
    .wrapper {
        &.page-viewer {
            .content {
                margin: 0;
            }
        }
        .content {
            width: 100%;
            margin-bottom: 30px;
        }
        .sidebar {
            width: 100%;
        }
    }
    .main-menu {
        > li {
            > a {
                font-size: 15px;
                padding: 0 5px;
            }
        }
    }
    .sub-menu {
        a {
            font-size: 15px;
        }
    }
    .login-menu {
        .btn-blue {
            font-size: 15px;
        }
    }
    
}

@media (max-width: 992px) { 
    figure.tool-avatar {
        width: 300px;
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .mb-show {
        display: block!important;
    }
    .mb-hide {
        display: none!important;
    }
    .social-footer {
        clear: left;
    }
}

@media (max-width: 843px) {
    .logo {
        width: 130px;
        margin: 19px 0 0 15px;
    }
    .main-menu {
        > li {
            &.language {
                margin-left: 10px;
            }
            > a {
                font-size: 14px;
            }
        }
    }
    .login-menu {
        .btn-blue {
            font-size: 14px;
        }
    }
    .sub-menu {
        a {
            font-size: 14px;
        }
    }
}