/**
 * Media 480px-
 *
 * description: css rules for screen of old school smartphone
 */

@media (max-width: 480px) {
    .banner {
        .banner-itm {
            width: 100%;
            padding: 0 15px;
            h2 {
                font-size: 40px;
                span {
                    font-size: 26px;
                }
            }
        }
        .learn-lk, .reg-lk {
            width: 100%;
            float: none;
        }
        .learn-lk {
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 450px) {
    .acc-dt-itm {
        .acc-name {
            width: auto;
            float: none;
        }
    }
}

@media (max-width: 380px) {
    .view-modal {
        .form-group {
            .form-control {
                padding-right: 32%;
            }
            .mdview-btn {
                width: 30%;
            }
        }
    }
    .social-links {
        text-align: left;
    }
}

@media (max-width: 374px) {
    .banner {
        .lk-banner {
            display: block;
            margin-bottom: 15px;
            width: auto;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}