@import '~@/scss/base';

.style-guide-page {
  position: relative;
  padding-top: 100px;
  color: $color-black;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: $color-main;
  }

  section {
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: 1px solid rgba(0,0,0, 0.1);

    .section-top {
      margin-bottom: 50px;
    }
  }

  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }

  .l-body section {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .box-color {
    width: 130px;
    max-width: 100%;
    height: 130px;
  }

  .box-color-blue {
    background-color: $color-blue;
  }

  .box-color-dark-blue {
    background-color: $color-dark-blue;
  }

  .box-color-light {
    background-color: $color-light;
  }

  .box-color-gray {
    background-color: $color-gray;
  }

  .box-color-red {
    background-color: $color-red;
  }

  .box-color-dark-red {
    background-color: $color-dark-red;
  }

  .box-color-brown {
    background-color: $color-brown;
  }

  .box-color-orange {
    background-color: $color-orange;
  }

  .box-color-black {
    background-color: $color-black;
  }


  #section-typography {
    .row {
      flex-direction: row-reverse;
    }

    .col {
      align-items: center;
      display: flex;
    }
  }

  .box-icon-font {
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);

    .unit {
      font-size: 1.6rem;
      font-family: monospace;

      i {
        vertical-align: middle;
        font-size: 2.4rem;
      }
    }
    .content-code {
      margin-top: 20px;
      font-size: 14px;
    }

    input {
      margin-left: 10px;
    }
  }

  .list-images {
    .col {
      margin-bottom: 30px;
    }
  }

  fieldset {
    .legend {
      font-size: 2.4rem;
    }
  }
}
