{% extends "@views/layouts/layout-basic.twig" %}
{% import "@views/macros/forms/forms.twig" as forms %}
{# block declare #}
{%
  set viewData = {
    bodyClass: 'style-guide-page',
    jsController: 'style-guide',
  }
%}

{% block bodyContent %}
  {# HEADER #}
  {% include "@views/components/header/header.twig" with {
    'headerType': 'site-header-transparent',
    }
  %}
  {% import "@views/macros/color/color.twig" as color %}
  <section class="container" id="section-colors">
    <div class="section-top">
      <h2>Colors</h2>
    </div>

    <div class="row">
      <div class="col-sm-2 col-6">
        {{
          color.colorBox({
            color: 'blue',
            code: 'HEX 00A9B7<br>RGB 0 169 183'
          })
        }}
      </div>
      <div class="col-sm-2 col-6">
        {{
          color.colorBox({
            color: 'dark-blue',
            code: 'HEX 445E85<br>RGB 68 94 133'
          })
        }}
      </div>
      <div class="col-sm-2 col-6">
        {{
          color.colorBox({
            color: 'light',
            code: 'HEX E1EAF4<br>RGB 225 234 244'
          })
        }}
      </div>
      <div class="col-sm-2 col-6">
        {{
          color.colorBox({
            color: 'gray',
            code: 'HEX B4C4DB<br>RGB 180 196 219'
          })
        }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-6">
        {{
          color.colorBox({
            color: 'red',
            code: 'HEX F16667<br>RGB 241 102 103'
          })
        }}
      </div>
      <div class="col-sm-2 col-6">
        {{
          color.colorBox({
            color: 'dark-red',
            code: 'HEX C54551<br>RGB 197 69 81'
          })
        }}
      </div>
      <div class="col-sm-2 col-6">
        {{
          color.colorBox({
            color: 'brown',
            code: 'HEX 545454<br>RGB 84 84 84'
          })
        }}
      </div>
      <div class="col-sm-2 col-6">
        {{
          color.colorBox({
            color: 'orange',
            code: 'HEX BD842E<br>RGB 189 132 46'
          })
        }}
      </div>
      <div class="col-sm-2 col-6">
        {{
          color.colorBox({
            color: 'black',
            code: 'HEX 000000<br>RGB 0 0 0'
          })
        }}
      </div>
    </div>
  </section>

  <section class="container" id="section-typography">
    <div class="section-top">
      <h2>Typography</h2>
      <h4 class="color-blue">Font used: Lato</h4>
    </div>
    <div class="row">
      <div class="col">72px  /  110% line height  /  2% spacing</div>
      <div class="col">
        <h1>Heading 1</h1>
      </div>
    </div><br>
    <div class="row">
      <div class="col">48px  /  110% line height  /  0% spacing</div>
      <div class="col">
        <h2>Heading 2</h2>
      </div>
    </div><br>
    <div class="row">
      <div class="col">32px  /  110% line height  /  0% spacing</div>
      <div class="col">
        <h3>Heading 3</h3>
      </div>
    </div><br>
    <div class="row">
      <div class="col">24px  /  150% line height  /  0% spacing</div>
      <div class="col">
        <h4>Heading 4</h4>
      </div>
    </div><br>
    <div class="row">
      <div class="col">16px  /  150% line height  /  0% spacing</div>
      <div class="col">
        text
      </div>
    </div><br>
    <div class="row">
      <div class="col">16px  /  150% line height  /  2% spacing</div>
      <div class="col">
        <p>Paragraph</p>
      </div>
    </div><br>
    <div class="row">
      <div class="col">14px  /  150% line height  /  2% spacing</div>
      <div class="col">
        <p class="caption">caption</p>
      </div>
    </div>
  </section>

  <section class="container" id="section-custom-fonts">
    <div class="section-top">
      <h2>Icons fonts</h2>
      <h4 class="color-blue">font-family: 'Sarita'</h4>
    </div>

    <div class="list-icons">
      <div
        class="row">
        {# JS RENDER FROM $scope.listIcons #}
        <div class="col-md-4" rv-each-icon="listIcons" rv-on-click="alert">
          <div class="box-icon-font">
            <p class="unit">
              <i rv-class="icon.className"></i>
              {icon.className}</p>
            <div class="content-code">Content:
              <input type="text" rv-value="icon.content"/></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container" id="section-section-icons-image">
    <div class="section-top">
      <h2>Icons images</h2>
    </div>

    <div class="list-images">
      <div class="row">
        <div class="col col-md-4"><img src="~@/assets/icons/de-flag.svg" alt="de-flag"/></div>
        <div class="col col-md-4"><img src="~@/assets/images/google-play.png" alt="Google Play"/></div>
        <div class="col col-md-4"><img src="~@/assets/images/app-store.png" alt="app-store"/></div>
      </div>
    </div>

  </section>

  <section class="container" id="section-buttons">
    <div class="section-top">
      <h2>Buttons</h2>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <button type="button" class="btn btn-back btn-block" disabled="disabled">Back</button>
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-back">Back</button>
      </div>
    </div><br>
    <div class="row">
      <div class="col-sm-4">
        <button type="button" class="btn btn-primary btn-block">Buy Sarita Pearl</button>
      </div>
      <div class="col-sm-4">
        <a href="#" class="btn btn-primary disabled" disabled="disabled">Sign in</a>
      </div>
    </div><br>
    <p>
      <button type="button" class="btn btn-second">Learn More</button>
    </p>
    <p>
      <button type="button" class="btn btn-primary">Free Feature With Monthly Subscription</button>
    </p>
  </section>

  <section class="container" id="section-forms">
    <div class="section-top">
      <h2>Forms</h2>
    </div>
    <div class="row">
      <div class="col-md-3">
        <form id="demoForm">
          <fieldset>
            <legend class="legend">Input</legend>
            <div class="form-group">
              {{
                forms.input({
                  id: 'text1',
                  name: 'text1',
                  type: 'text',
                  required: true,
                  placeholder: 'Input normal'
                })
              }}
            </div>
            {{
              forms.inputWithLabel({
                id: 'text2',
                name: 'text2',
                type: 'text',
                required: true,
                label: 'Label'
              })
            }}
            {{
              forms.inputWithLabel({
                id: 'text3',
                name: 'text3',
                type: 'text',
                required: true,
                label: 'Label'
              })
            }}
            <div class="form-group input-group">
              <div class="input-group-prepend default-select">
                {% set phoneCodes = [
                  {
                    value: "DK",
                    label: "+45"
                  },
                  {
                    value: "GB",
                    label: "+44"
                  }
                ] %}
                {{
                  forms.selectpicker({
                    name:'phoneCodes',
                    id:'phoneCodes',
                    options: phoneCodes,
                    required: true,
                    includeBlank: false,
                    multiple: false,
                    flagIcon: true
                  })
                }}
              </div>
              {{
                forms.input({
                  id: 'phone',
                  name: 'phone',
                  type: 'text',
                  required: true,
                  placeholder: '(000) 00-0000'
                })
              }}
            </div>
            <div class="form-group">
              {{
                forms.inputPassword({
                  id: 'password1',
                  name: 'password1',
                  type: 'password',
                  required: true,
                  label: 'Password'
                })
              }}
            </div>
            {{
              forms.inputPassword({
                id: 'repeatedPassword',
                name: 'repeatedPassword',
                type: 'password',
                required: true,
                label: 'Re-Password'
              })
            }}
            <div class="form-group">
              <p class="forgot-password">Forgot the password?
                <a href="#" title="Reset">Reset</a>
              </p>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="col-md-4">
        <h4>Checkbox & Radio</h4>
        <div class="form-group">
          {{
            forms.termsCheckbox({
              global: global
            })
          }}
        </div>
        <div class="form-group">
          {{
            forms.checkbox({
              id: 'checkbox2',
              name: 'checkbox2',
              value: 1,
              label: 'I agree to <a href="" title="Terms & Conditions">Terms & Conditions</a>',
              checked: true
            })
          }}
        </div>
        <div class="form-group">
          {{
            forms.checkbox2({
              id: 'checkbox3',
              name: 'checkbox3',
              value: 1,
              label: 'Use as the Shipping addresss'
            })
          }}
        </div>
        <div class="form-group">
          {{
            forms.customRadio({
              id: 'radio1',
              name: 'radio',
              value: 1,
              label: 'Radio box 1',
              checked: true
            })
          }}
        </div>
        <div class="form-group">
          {{
            forms.customRadio({
              id: 'radio2',
              name: 'radio',
              value: 2,
              label: 'Radio box 2'
            })
          }}
        </div>
      </div>
      <div class="col-md-4">
        <h4>Dropdown</h4>
        <div class="form-group dropdown-select">
          {% include "@views/components/countries/countries-with-flag.twig" %}
        </div>
        <div class="form-group dropdown-select">
          {% include "@views/components/countries/countries.twig" %}
        </div>
      </div>
    </div>
  </section>
  {% include "@views/components/cart/cart.twig" %}
  <section class="container" id="section-alert">
    <div class="row">
      <div class="col-sm-4">
        <p>
          <a href="#" class="btn btn-primary" data-swal="success" data-content="Your changes have been successfully saved.">Save</a>
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          <a href="#" class="btn btn-primary" data-swal="error" data-content="Changes can not be saved, please try again.">Save opps</a>
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          <a href="#" class="btn btn-primary" data-swal="confirm" data-content="Are you sure you want to delete this Card?">Save Confirm</a>
        </p>
      </div>
    </div>
  </section>
  {% include "@views/components/sing-in-modal/sing-in-modal.twig" %}
  {% include "@views/components/footer/footer.twig" %}
{% endblock %}
