#inteModal.view-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-body
                form
                    .pop-list
                        .pop-itm
                            h3.pop-ttl Integrate
                            textarea.form-control &lt;iframe src="https://youtu.be/j__Q13iAxNk" &gt;
                            .t-r
                                a.btn.btn-blue.mdview-btn(href="javascript:;") Copy
// END: Integrate modal