#sendModal.view-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-body
                form
                    .pop-list
                        .pop-itm
                            h3.pop-ttl Send mail with password
                            .form-group
                                input.form-control(type="text", placeholder="A:")
                                input.form-control(type="text", placeholder="CC:")
                                input.form-control(type="text", placeholder="Password:")
                            .t-r
                                a.btn.btn-blue.mdview-btn(href="javascript:;") Send
                        .pop-itm
                            h3.pop-ttl Send phone with password
                            .form-group
                                input.form-control(type="text", placeholder="Phone number:")
                            .t-r
                                a.btn.btn-blue.mdview-btn(href="javascript:;") Send
// END: Send modal