#shareModal.view-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-body
                form
                    .pop-list
                        .pop-itm
                            h3.pop-ttl Share
                            .pop-social
                                a.ico-fb(href="#")
                                    i.fa.fa-facebook-square
                                a.ico-gg(href="#")
                                    i.fa.fa-google-plus-square
                                a.ico-twitter(href="#")
                                    i.fa.fa-twitter-square
                                a.ico-tumblr(href="#")
                                    i.fa.fa-tumblr-square
                                a.ico-reddit(href="#")
                                    i.fa.fa-reddit-square
                                a.ico-linked(href="#")
                                    i.fa.fa-linkedin-square
                                a.ico-pin(href="#")
                                    i.fa.fa-pinterest-square
                            .fview-group
                                input.form-control(type="text", placeholder="URL")
                                a.btn.btn-blue.mdview-btn(href="javascript:;") Copy
// END: Share modal