/**
 * CONTENT CSS
 * Updated on 14/12/2016
 */

.wrapper {
    .content {
        width: 75%;
    }
    .sidebar {
        width: 25%;
    }
}


// Silo block CSS
.silo-blk {
    border: 2px solid $dgray;
    position: relative;
    padding: 0 15px 30px;
    margin-bottom: 50px;
    &.silo-blk-mb {
        display: none;
    }
    &.has-gallery {
        padding-bottom: 0;
    }
    &:last-child {
        margin: 0;
    }
    &.has-srch {
        padding-top: 50px;
        .silo-ttl {
            top: -67px;
        }
    }
    img {
        max-width: 100%;
    }
    ul {
        list-style: none;
    }
    figure {
        margin: 0;
    }
}

// Silo title CSS
.silo-ttl {
    position: relative;
    background: white;
    top: -16px;
    text-transform: uppercase;
    color: $dgray;
    font-size: 26px;
    padding: 0 5px;
    display: inline;
}

// Chart list CSS
.chart-list {
    &.owl-carousel {
        figure {
            margin: 0;
        }
        .owl-wrapper-outer {
            z-index: 10;
        }
        .owl-controls {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            margin: 0;
            @include transform(translateY(-50%));
        }
        .owl-buttons {
            @include clearfix();
            div {
                background: transparent;
                padding: 0;
            }
        }
        .owl-prev {
            float: left;
        } 
        .owl-next {
            float: right;
        }
        .fa {
            color: $dgray;
            font-size: 124px;
        }
        img {
            width: 100%;
        }
    }
}

// Chart itm wrap CSS
.chart-itm-wrap {
    padding-right: 50px;
    position: relative;
    height: 140px;
    .chart-side {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 100%;
    }
    .chart-donut {
        width: 100%;
        height: 150px;
    }
    .chart-donut-sm {
        width: 100%;
        height: 50px;
    }
}

// Silo search CSS
.silo-srch {
    position: absolute;
    top: 20px;
    right: 15px;
    .ip-srch {
        display: inline-block;
        width: 500px;
        padding-right: 110px;
        &:focus {
            border-color: rgba(0,0,0,.15);
        }
    }
    .silo-btn {
        position: absolute;
        top: 1px;
        right: 1px;
        display: inline-block;
        width: 100px;
        height: 36px;
        line-height: 36px;
        padding: 0;
        vertical-align: top;
        background: $gray;
        border-left: 1px solid rgba(0,0,0,.15);
        @include border-radius(0);
        &:hover {
            background: darken($color: $gray, $amount: 10%);
            border-left: $gray;
        }
    }
    .fa-search {
        color: $dkergray;
        font-size: 20px;
    }
}

// Silo item CSS
.silo-itm {
    padding: 0 15px;
    margin-bottom: 30px;
    figure {
        margin-bottom: 15px;
    }
}

// Silo info CSS
.silo-info {
    padding: 10px 0 10px 20px;
    position: relative;
    &.info-orange {
        &:before {
            background: $orange;
        }
    }
    &.info-green {
        &:before {
            background: $green;
        }
    }
    &.info-blue {
        &:before {
            background: $blue;
        }
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 10px;
        background: #ddd;
    }
    h4 {
        font-size: 16px;
        margin-bottom: 10px;
        color: black;
        font-weight: bold;
        height: 50px;
        overflow: hidden;
    }
    .silo-date {
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
    }
}