/**
 * SIDEBAR CSS
 * Updated on 14/12/2016
 */

.sidebar {
    .btn {
        width: 100%;
    }
}

.tool-heading {
    text-transform: uppercase;
    color: black;
    font-size: 18px;
}

figure.tool-avatar {
    margin-bottom: 15px;
    img {
        width: 100%;
    }
}

// Tool info CSS
.tool-info {
    padding: 15px;
    background: $gray;
    margin-bottom: 30px;
    .tool-txt {
        font-size: 12px;
        color: black;
        margin-bottom: 30px;
        font-weight: bold;
    }
    .btn {
        margin-bottom: 10px;
        font-size: 12px;
        white-space: normal;
        &:last-child {
            margin: 0;
        }
    }
}

// Tool button group
.toolbtn-group {
    margin-bottom: 30px;
    &:last-child {
        margin: 0;
    }
    .btn {
        margin-bottom: 10px;
        &:last-child {
            margin: 0;
        }
    }
}

// View group CSS
.view-group {
    margin-bottom: 30px;
    &:last-child {
        margin: 0;
    }
    .btn {
        margin-bottom: 10px;
        font-size: 12px;
        white-space: normal;
        &:last-child {
            margin: 0;
        }
        &.viewer-btn {
            font-size: 16px;
        }
    }
}
