/**
 * VIEWER CSS
 * Updated on 14/12/2016
 */

// Text editor CSS
.text-editor {
    ul {
        list-style: none;
        li {
            &:before {
                content: "-";
                vertical-align: 1px;
                margin-right: 5px;
            }
        }
    }
}

// Viewer button CSS
.viewer-btn {
    position: relative;
    figure {
        position: absolute;
        top: 5px;
        left: 5px;
        height: 30px;
        width: 30px;
    }
}

.ct-sidebar {
    padding-left: 0;
}

.tool-mb-list {
    .tool-mb-itm {
        display: block;
        margin-bottom: 15px;
        text-align: center;
        &:last-child {
            margin: 0;
        }
        img {
            width: 60px;
        }
    }
}