.silo-blk
    h3.silo-ttl mon compte
    .row
        .col-md-4.my-acc-itm
            figure.acc-avatar
                img(src="./uploads/my_account/acc_1.jpg", alt="")
                a(href="#") Changer son logo
            .acc-txt
                span.acc-comp Musee des Beaux-Arts de Lyon
                br
                | 20 place des Terreaux
                br
                | 69001 Lyon
            .acc-txt
                | Tel: +33(0)4 72 10 17 40
                br
                | Mail: 
                a(href="#") mba@mba.com
            a.btn.btn-blue(href="#") Modifier mes donnees
        .col-md-5.my-acc-itm
            .acc-txt
                | Numero de client:
                span.acc-txt-ct MUS12323242
            .acc-txt
                | Numero SIREN:
                span.acc-txt-ct 342 342 2333
            .acc-txt
                | Abonnement:
                span.acc-txt-ct  FULL 
            .acc-txt
                | Option:
                span.acc-txt-ct  Hebergement
            .acc-txt
                | Paiement:
                span.acc-txt-ct Prelevement299
            .acc-txt
                | Demier prelevement:
                span.acc-txt-ct 299&euro;
            .acc-txt
                | Preleve le:
                span.acc-txt-ct 5 Avril 2016
            .acc-txt
                .acc-label Administrateur(s):
                .acc-detail
                    .acc-dt-itm.clearfix
                        .acc-name - Genevieve Robert
                        .acc-email
                            a(href="#") g.robert@mba.com
            .acc-txt
                .acc-label Utilisateur(s):
                .acc-detail
                    .acc-dt-itm.clearfix
                        .acc-name - Genevieve Robert
                        .acc-email
                            a(href="#") g.robert@mba.com
                    .acc-dt-itm.clearfix
                        .acc-name - Thomas Redonnet
                        .acc-email
                            a(href="#") t.redonnet@mba.com
                    .acc-dt-itm.clearfix
                        .acc-name - Antoine Dumont
                        .acc-email
                            a(href="#") a.dumont@mba.com
            a.btn.btn-blue(href="#") Modifier mes donnees
        .col-md-3.my-acc-itm
            .acc-data
                p.acc-data-ttl Donnes clients
                ul.acc-data-list
                    li Donnees client
                    li Mot de passe
                    li Details de paiement
                    li Parametres de confidentiale
            .acc-data
                p.acc-data-ttl Donnes contractuelles
                ul.acc-data-list.acc-ctr-list
                    li.ctr-1 Toutes les factures
                    li.ctr-2 Messages
                    li.ctr-3 Informations sur le pack
                    li.ctr-4 Fonctions supplementaires
// END: My account blk