<link rel="icon" type="image/x-icon" href="{{global.siteConfig.favicon}}"/>
<link rel="icon" type="image/png" href="{{global.siteConfig.favicon}}" sizes="192x192">
<link rel="apple-touch-icon" href="{{global.siteConfig.favicon}}" sizes="192x192">
