{% macro getJsTranslation(_context) %}
  {% set allMessages = [
      'Are you sure you want to Log Out?'|format('trans'),
      'Deleted successfully'|format('trans'),
      'Your changes have been successfully saved.'|format('trans'),
      'Changes can not be saved, please try again.'|format('trans'),
      'Your password have been successfully changed.'|format('trans'),
      'New password can not be saved, please try again.'|format('trans'),
      'Do you want to cancel this subscription ?'|format('trans'),
      'New Password'|format('trans'),
      'Are you sure you want to delete this Card ?'|format('trans'),
      'Yes'|format('trans'),
      'Cancel'|format('trans'),
      'Confirmation'|format('trans'),
      'Great!'|format('trans'),
      'Enter your email address'|format('trans'),
      'Enter a value'|format('trans'),
      'Oops!'|format('trans'),
      'Save'|format('trans'),
      'Must Accept Terms and Conditions'|format('trans')
    ]
  %}
  {% set jsTranslation = {}%}

  {% for englishKey in allMessages %}
    {% set jsTranslation = jsTranslation|merge({(englishKey): englishKey|trans})%}
  {% endfor %}

  {{jsTranslation|json_encode|raw}}
{% endmacro %}
