@import "~@/scss/base";
.learn-more-page {
  section .btn {
    min-width: $btn-min-width;
    font-size: 1.8rem;
  }
}

.learn-more-feature {
  padding: 84px 0 95px;

  .main-text {
    margin-bottom: 30px;

    .text {
      max-width: 580px;
    }

    .logo-pearl {
      margin-bottom: 60px;
    }

    .features {
      list-style: none;
      margin: 0 -15px 40px;
      padding: 0;
      display: flex;
      flex-wrap: wrap;

      li {
        position: relative;
        margin-bottom: 20px;
        padding: 0 15px 0 55px;
        flex: 0 0 33.33%;
        color: $color-dark-blue;

        i {
          position: absolute;
          left: 15px;
          top: 3px;
          font-size: 2.4rem;

        }
      }
    }

    .link {
      margin-top: 53px;
      margin-bottom: 0;

      .btn {
        min-width: 297px;
      }
    }
  }

  .image-right {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@include tablet-down() {
  .learn-more-feature {
    padding: 70px 0;
    .main-text {
      .features {
        li {
          flex: 0 0 50%;
        }
      }
    }
  }
}

@include mobile() {
  .learn-more-feature {
    padding: 50px 0;

    .main-text {
      .logo-pearl {
        margin-bottom: 30px;
      }

      .features {
        display: block;
      }
    }

    .image-right {
      margin-bottom: 50px;
      display: block;
      text-align: center;
    }
  }
}

@include mobile-sm() {
  .learn-more-page section {
    .btn {
      width: 100%;
    }
  }
}
