{% extends "@views/layouts/layout-default.twig" %}
{% import "@views/macros/learn-more-item/learn-more-item.twig" as learnMores %}

{# block declare #}

{%
  set viewData = {
    bodyClass: 'learn-more-page',
    jsController: '',
    headerType: ''
  }
%}

{% block pageContent %}
  <section class="learn-more-feature">
    <div class="container">
      <div class="row flex-row-reverse">
        <div class="col-lg-4 col-md-5 image-right">
          <img class="b-lazy" data-src="{{ pageData.sectionFeatures.imgSrc }}" src="{{ pageData.sectionFeatures.imgSrc }}" />
        </div>
        <div class="col-lg-8 col-md-7 main-text">
          <div class="logo-pearl"><img src="{{ pageData.sectionFeatures.logoSrc }}" alt="{{ pageData.sectionFeatures.title }}"/></div>
          <ul class="features">
            {% for item in pageData.sectionFeatures.features %}
              <li>
                {% if item.iconClass %}
                  <i class="{{ item.iconClass }}"></i>
                {% endif %}
                {{ item.title }}
              </li>
            {% endfor %}
          </ul>
          <div class="text">
            {{ pageData.sectionFeatures.text|raw }}
            <p class="link">
              <a href="{{ pageData.sectionFeatures.btnLink }}" class="btn btn-primary">{{ pageData.sectionFeatures.btnText }}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% for item in pageData.learnMoreItems %}
      {{
        learnMores.learnMoreItem({
          imgsrc: item.imgsrc,
          icon: item.icon,
          slider: item.slider,
          title: item.title,
          description: item.description,
          btnText: item.btnText,
          btnLink: item.btnLink
        })
      }}
  {% endfor %}
{% endblock %}
