{# Model - Generated from learn-more.json #}
    {% set pageData = {
  "sectionFeatures": {
    "logoSrc": pageData.sectionFeatures.logoSrc,
    "imgSrc": pageData.sectionFeatures.imgSrc,
    "title": pageData.sectionFeatures.title,
    "text": pageData.sectionFeatures.text,
    "btnText": pageData.sectionFeatures.btnText,
    "btnLink": pageData.sectionFeatures.btnLink,
    "features": pageData.sectionFeatures.features
  },
  "learnMoreItems": pageData.learnMoreItems
}%}

{% include "@views/pages/learn-more/learn-more.twig" %}
  