@import "@/scss/base.scss";

.accessory-item {
  margin-bottom: 30px;

  .img {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 11px;
    margin-bottom: 13px;
    width: 82px;
    height: 115px;
    text-align: center;
    color: $color-white;

    &:before {
      content: "";
      @include absolute-fit();
      z-index: -1;
      border-radius: 50%;
      background-color: $color-dark-blue;
      transform: rotate(41.53deg);
    }

    i {
      font-size: 4rem;
    }
  }

  h4 {
    font-weight: normal;
  }

  .caption {
    p:last-child {
      margin-bottom: 0;
    }
  }
}


@include mobile() {
  .accessory-item {
    text-align: center;

    .img {
      margin: 0 auto 13px;
    }
  }
}