{% macro accessoryItem( params ) %}
  <div class="accessory-item {{ params.classes|default('') }}">
    <div class="img"><i class="{{params.iconClass}}"></i>
    </div>
    <h4>{{params.title}}</h4>
    <div class="caption">{{params.description|raw}}</div>
  </div>
{% endmacro %}
