<header class="site-header {{headerType}}">
  <div class="container">
    <div class="inner">
      <a href="{{ path('home') }}" class="logo">
        <img src="{{ global.siteConfig.headerLogos.logoDark }}" alt="Sarita" class="logo-1"/>
        <img src="{{ global.siteConfig.headerLogos.logoWhite }}" alt="Sarita" class="logo-2"/>
      </a>
      <div class="header-right">
        <div class="font-sizes">
          <span class="lb d-none d-md-block">{{'Font Size'|trans}}</span>
          <span class="font-ctrl icon-font-increase" data-increase=""></span>
          <span class="font-ctrl icon-font-decrease disabled" data-decrease=""></span>
        </div>
        <ul class="header-language">
          {% for language in global.siteConfig.headerLanguages %}
            <li>
              <a data-lang={{language.lang}} href="/?lang={{ language.lang }}" title="{{ language.title }}">{{ language.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <div class="header-user">
          {% if global.user %}
            <div title="User" class="user-logged">
              <div class="user-display-group">
                <i class="icon-user"></i>
                <span class="user-display-name">{{global.user.name}}
                  {{global.user.surname}}</span>
              </div>
              <div class="account-dropdown">
                <div class="menu-items">
                  <a href="{{ path('myAccount') }}">{{'My Account'|trans}}</a>
                  <a href="javascript:void(0);" data-logout>{{'Logout'|trans}}
                  </a>
                </div>
              </div>
            </div>
          {% else %}
            <a href="#" title="User" data-toggle="modal" data-target="#modal-sign-in" class="">
              <i class="icon-user"></i>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>
