@import '~@/scss/base';

.site-header {
  position: relative;
  z-index: $z-index-header;

  .inner {
    padding: 3.6rem 0;
    color: $color-dark-blue;
    @include clearfix();

    a {
      color: $color-dark-blue;
    }

    .logo {
      display: block;
      width: 160px;
      float: left;
      margin-right: 10px;

      .logo-2 {
        display: none;
      }
    }

    .header-right {
      float: right;
      text-align: right;

      > div,
      > ul {
        display: inline-block;
        vertical-align: top;
      }
    }

    .font-sizes {
      > span {
        display: inline-block;
        vertical-align: middle;
        margin-left: 15px;
        font-weight: 500;
      }

      .lb {
        float: left;
      }

      .font-ctrl {
        font-size: 3rem;
        line-height: 1;
        margin-top: -3px;
        cursor: pointer;
        transition: all .5s;

        &.disabled {
          pointer-events: none;
          opacity: .4;
        }
      }
    }

    .header-language {
      list-style: none;
      margin: 0 0 0 95px;
      padding: 0;

      li {
        display: inline-block;
        vertical-align: top;


        + li {
          margin-left: 25px;
        }

        a {
          font-weight: 500;
          opacity: .4;
          text-transform: uppercase;
          transition: all .5s;

          &:hover,
          &.current {
            opacity: 1;
          }
        }
      }
    }

    .header-user {
      margin-left: 100px;
      padding-top: 3px;

      .user-logged{
        cursor: pointer;
        display: flex;
        align-items: center;
        color: $color-dark-blue;
        position: relative;
        i {
          margin-right: 5px;
        }
      }

      .user-display-group {
        display: flex;
        align-items: center;
      }

      .user-display-name {
        max-width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
      }

      a:focus {
        outline: none;
      }

      i {
        font-size: 2.2rem;
      }
    }
  }

  &.site-header-transparent {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    .header-user{
      .user-logged{
        color: $color-white;
      }
    }
    .inner {
      .logo {
        .logo-1 {
          display: none;
        }

        .logo-2 {
          display: block;
        }
      }

      a {
        color: $color-white;
      }

      .font-sizes {
        > span {
          color: $color-white;
        }

        .font-ctrl {
          color: $color-white;
        }
      }
    }
  }
}


@include tablet-down() {
  .site-header .inner {
    .header-language,
    .header-user {
      margin-left: 30px;
    }

    .header-language {
      li {
        + li {
          margin-left: 10px;
        }
      }
    }
  }
}

@include mobile() {
  .site-header .inner {
    padding: 5rem 0 2rem;
    position: relative;

    .logo {
      float: none;
      margin: 0 auto;
    }

    .header-right {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      float: none;
      padding-top: 10px;

      .font-sizes {
        float: left;
      }
      .lb + .font-ctrl {
        margin-left: 0;;
      }
    }

    .header-user {
      padding-top: 0;
      .user-display-name {
        max-width: 50vw;
      }
    }
  }
}

@include breakpoint($max: $breakpoint-sm - 1) {
  .is-logged {
    .site-header .inner {
      padding-top: 8.5rem;
      .header-right {
        .header-user {
          margin-left: 0;
          display: block;
          text-align: right;
        }
      }

      .header-user {
        padding-top: 0.8rem;
        .user-logged {
          display: inline-block;
        }
      }
    }
  }
}
