<section class="page-hero">
  <figure class="figure">
    <picture>
      <source
        media="(min-width: 1025px)"
        data-srcset="{{imgSrc}}">
      <source
        media="(min-width: 577px)"
        data-srcset="{{imgSrcTablet|default(imgSrc)}}">
      <img
        class="img b-lazy"
        data-src="{{imgSrcMobile|default(imgSrcTablet|default(imgSrc))}}"
        alt="{{title}}">
    </picture>
    <figcaption>
      <div class="container inner">
        <div class="content">
          <h1>{{title}}
            <span>{{subTitle}}</span>
          </h1>
          <p>{{description|raw}}</p>
          {% if btnText %}
            <p class="link">
              <a href="{{btnLink}}" class="btn btn-second">{{btnText}}</a>
            </p>
          {% endif %}
        </div>
      </div>
    </figcaption>
  </figure>
</section>
