@import "~@/scss/base";
$ratio-desktop: 2/1;
$ratio-tablet: 3/2;
$ratio-mobile: 2/3;
$padding-mobile: ($ratio-mobile*767)/10 + rem;

.page-hero {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: $color-gray;
  @include ratio-frame($ratio-desktop);

  figure {
    margin: 0;
    .img {
      display: block;
      @include absolute-fit();
      min-height: 100%;
      min-width: 100%;
      max-width: none;
    }

    figcaption {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding-top: 20px;
    }

    .inner {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .content {
        max-width: 700px;
        color: $color-white;

        h1 {
          margin-bottom: 4rem;
          color: $color-white;

          span {
            display: block;
            font-size: 4.8rem;
          }
        }

        p {
          font-size: 2.4rem;
        }

        .link {
          margin-bottom: 0;
          margin-top: 50px;
        }
      }
    }
  }
}

@include tablet-down() {
  .page-hero {
    @include ratio-frame($ratio-tablet);
    figure {
      figcaption {
        padding-top: 10rem;
      }

      .inner {
        .content {
          padding-top: 0;

          h1 {
            margin-bottom: 3rem;

            span {
              font-size: 3.8rem;
            }
          }

          p {
            font-size: 2rem;
          }

          .link {
            margin-top: 3rem;
          }
        }
      }
    }
  }
}

@include mobile() {
  .page-hero {
    padding-bottom: $padding-mobile;

    figure {
      .inner {
        .content {
          h1 {
            margin-bottom: 25px;
            font-size: 4rem;

            span {
              font-size: 2.2rem;
            }
          }
        }
      }
    }
  }
}