{% macro imageSlider( options, items ) %}
  <div class="images-slider" data-slick='{{ options|json_encode }}'>
    {% for item in items %}
      <div class="item">
        <img src="{{ item.imgsrc }}" alt="{{ item.alt }}"/>
      </div>
    {% endfor %}
  </div>
{% endmacro %}
