@import '~@/scss/base';
.images-slider {
  .item {
    display: none;

    &.slick-slide {
      display: block;
    }
  }

  &.slick-slider {
    margin-bottom: 0;

    .slick-list {
      .slick-slide {
        &:focus {
          outline: none;
        }

        img {
          margin: 0 auto;
          transition: all .3s;

          &.slick-loading {
            opacity: 0;
          }
        }
      }
    }

    .slick-prev,
    .slick-next {
      &:before {
        color: $color-dark-blue;
      }
    }

    .slick-dots {
      margin-top: 50px;
      display: flex;
      position: static;

      li {
        flex: 1;
        width: auto;
        height: 8px;
        border-radius: 0;
        margin: 0;
        background-color: $color-light;
        transition: background-color .3s;

        button {
          display: none;
        }

        &:first-child {
          border-radius: 4px 0 0 4px;
        }

        &:last-child {
          border-radius: 0 4px 4px 0;
        }

        &.slick-active {
          background-color: $color-dark-blue;
        }
      }
    }

    @include tablet() {
      .slick-dots {
        margin-top: 40px;
      }
    }

    @include mobile() {
      .slick-dots {
        margin-top: 35px;
      }
    }
  }
}
