{% macro orderCard( params ) %}
  <div class="order-card base-panel-card {{ params.classes|default('') }}">
    <div class="panel-header">
      <span class="panel-header-label">
        {{params.headerLabel}}
      </span>
      <span class="panel-header-value">
        {{params.orderDate}}
      </span>

      <div class="panel-header-buttons">
        <a href="javascript:void(0);" data-delete class="">
          <i class="icon-trash"></i>
        </a>
      </div>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col">
          <div class="order-info">
            <p class="order-name">{{params.orderName}}</p>
            <p class="order-type">{{params.orderType}}</p>
            <p class="order-info-text">{{params.orderInfo}}</p>
          </div>
        </div>

        <div class="col">
          <div class="order-total">
            <span class="order-sum-label">{{'Sum'|trans}}</span>
            <span class="order-price">{{params.orderTotal}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
