@import '@/scss/base';
@import '../plan-card/base-panel-card';

.order-card {
  color: $color-black;
  .row {
    height: 100%;
    flex-wrap: nowrap;

    > .col {
      padding-top: 10px;
      padding-bottom: 10px;
      &:nth-child(2) {
        border-left: 1px solid #ffffff;
      }
    }
  }

  &.base-panel-card .panel-body {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .order-info {
    .order-type {
      color: $color-dark-blue;
    }
    p {
      margin: 0;
    }
  }

  .order-total {
    font-size: 1.8rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;

    .order-sum-label {
      font-weight: $font-bold;
      margin-right: 20px;
      display: inline-block;
    }

    .order-price {
      white-space: nowrap;
      color: $color-dark-blue;
    }
  }
}
