@import '~@/scss/base';
.process {
  .progress-steps {
    display: flex;
    flex-wrap: wrap;
    margin: 1.6rem -15px 2.5rem;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      padding: 15px 15px 0 15px;
      flex: 1;

      &::before,
      &::after {
        content: '';
        position: absolute;
      }

      &:before {
        display: none;
        top: 0;
        left: 1.5rem;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: $color-dark-blue;
      }

      &::after {
        top: 3.1rem;
        right: 0;
        left: 11rem;
        height: 1px;
        background-color: $color-light;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }

      span {
        display: block;
      }

      .step-number {
        font-size: 2.4rem;
        line-height: 1.2;
        color: $color-gray;
      }

      .caption {
        color: $color-brown;
      }

      &.is-active {
        &::before {
          display: block;
        }
      }

      &.is-active,
      &.is-complete {
        .step-number {
          color: $color-dark-blue;
        }

        .caption {
          color: $color-dark-blue;
        }
      }
    }
  }
}

@include mobile() {
  .process .progress-steps {
    display: block;

    li {
      margin-bottom: 10px;

      &:after {
        right: 15px;
      }

      &:last-child {
        &:after {
          display: block;
        }
      }
    }
  }
}
