<div class="process">
  <div class="container">
    <ul class="progress-steps">
      <li id="step1" class="progress-step is-active">
        <span class="step-number">{{ 'Step %s'|trans|format(1) }}</span>
        <span class="caption">{{'Personal Info & Shipping Data'|trans}}</span>
      </li>
      <li id="step2" class="progress-step">
        <span class="step-number">{{ 'Step %s'|trans|format(2) }}</span>
        <span class="caption">{{'Product Design'|trans}}</span>
      </li>
      <li id="step3" class="progress-step">
        <span class="step-number">{{ 'Step %s'|trans|format(3) }}</span>
        <span class="caption">{{'Subscription Type'|trans}}</span>
      </li>
      <li id="step4" class="progress-step">
        <span class="step-number">{{ 'Step %s'|trans|format(4) }}</span>
        <span class="caption">{{'Payment Method'|trans}}</span>
      </li>
      <li id="step5" class="progress-step">
        <span class="step-number">{{ 'Step %s'|trans|format(5) }}</span>
        <span class="caption">{{'Payment Data'|trans}}</span>
      </li>
    </ul>
  </div>
</div>
