{% extends "@views/layouts/layout-default.twig" %}
{% import "@views/macros/accessory/accessory.twig" as accessory %}
{% import "@views/macros/testimonial/testimonial.twig" as testimonial %}
{% import "@views/macros/pearl-card/pearl-card.twig" as cards %}
{% import "@views/macros/image-slider/image-slider.twig" as sliders %}

{# block declare #}

{%
  set viewData = {
    bodyClass: 'home-page',
    jsController: 'home',
    headerType: 'site-header-transparent'
  }
%}

{% block pageContent %}
  {% include "@views/components/page-hero/page-hero.twig" with pageData.pageHero %}
  <section class="home-about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-7 main-text">
          <p class="logo-pearl"><img class="b-lazy" data-src="{{pageData.sectionAbout.logo}}" alt="Sarita Pearl"/></p>
          <h2>{{ pageData.sectionAbout.title|raw }}</h2>
          <div class="text">
            {{pageData.sectionAbout.text|raw}}
            <p class="link">
              <a href="{{pageData.sectionAbout.btnLink}}" class="btn btn-primary" title="{{pageData.sectionAbout.btnText}}">{{pageData.sectionAbout.btnText}}</a>
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 img-right">
          {% set sliderOptions = {
            arrows: false,
            dots: true,
            autoplay: true,
            autoplaySpeed: 2000
          }
          %}

          {{
            sliders.imageSlider(sliderOptions , pageData.sectionAbout.sliderImages)
          }}

        </div>
      </div>
    </div>
  </section>

  <section class="home-accessory">
    <div class="accessory-top b-lazy" data-src="{{pageData.sectionAccessory.backgroundImage}}">
      <div class="container">
        <h2>{{ pageData.sectionAccessory.title|raw }}</h2>
        <p class="link">
          <a href="{{ pageData.sectionAccessory.btnLink }}" title="{{ pageData.sectionAccessory.btnText }}" class="btn btn-second">{{ pageData.sectionAccessory.btnText }}</a>
        </p>
      </div>
    </div>
    <div class="accessory-list">
      <div class="container">
        <div class="row">
          {% for item in pageData.sectionAccessory.accessoryList %}
            <div class="col-sm-6 col-md-3">
              {{
                  accessory.accessoryItem({iconClass: item.iconClass, title: item.title, description: item.description})
              }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <section class="home-app-store">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img">
            <img class="b-lazy" data-src="{{ pageData.sectionMobileApp.imgSrc }}" alt="Mobile"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="main-text">
            <h2>{{ pageData.sectionMobileApp.title|raw }}</h2>
            <div class="description">
              {{ pageData.sectionMobileApp.description|raw }}
            </div>
            <div class="apps">
              {% for download in pageData.sectionMobileApp.downloadLink %}          
                {% if  download.link %}
                  <a href="{{ download.link }}" class="app-img" target="_blank" title="{{ download.title }}">
                    <img class="b-lazy" data-src="{{ download.imgSrc }}" alt="{{ download.title }}"/></a>
                  </a>
                {% endif %}                
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="home-testimonial">
    <div class="testimonial-top b-lazy" data-src="{{pageData.sectionTestimonials.backgroundImage}}">
      <div class="container">
        <h2>{{ pageData.sectionTestimonials.title|raw }}</h2>
        <p class="link">
          <a href="{{ pageData.sectionTestimonials.btnLink }}" title="{{ pageData.sectionTestimonials.btnText }}" class="btn btn-primary">{{ pageData.sectionTestimonials.btnText }}</a>
        </p>
      </div>
    </div>
    <div class="testimonial-list">
      <div class="container">
        {%
          set testimonialOptions = {"arrows": true, "dots": false, "autoplay": false, "infinite": false, "slidesToShow": 3, "responsive": [{"breakpoint": 768,"settings": {"slidesToShow": 1}}] }
        %}
        {{
          testimonial.testimonialSlider(testimonialOptions , pageData.sectionTestimonials.testimonialList)
        }}
      </div>
    </div>
  </section>

  <section class="home-cards">
    <div class="container">
      <h2>{{ pageData.sectionSubscription.title|raw }}</h2>
      <div class="home-card-description">
        <p class="lead">{{ pageData.sectionSubscription.description|raw }}</p>
        <p class="highlight">{{ pageData.sectionSubscription.highlightText }}</p>
      </div>
      <div class="pearl-card-list">
        <div class="row">
          {% for item in pageData.sectionSubscription.subscriptionTypes %}
            <div class="col-md-6">
              {{
                cards.pearlCard({
                  isCheckBox: false,
                  card: ({
                    id: 'pearl-' ~ item.name,
                    title: item.title,
                    name: item.name,
                    currency: item.currency,
                    priceInfos: item.priceInfos,
                    btnText: item.btnText|default('Order Now'|trans),
                    infoTexts: item.infoTexts,
                    notes: item.notes
                  })
                })
              }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

{% endblock %}
