@import "~@/scss/base";
.home-page {
  section .btn {
    min-width: $btn-min-width;
  }
}

.home-about {
  padding: 50px 0 125px;

  .main-text {
    margin-bottom: 30px;

    h2 {
      margin-top: 42px;
      margin-bottom: 52px;
    }

    .text {
      max-width: 450px;

      p {
        &:last-child {
          margin-top: 52px;
          margin-bottom: 0;
        }
      }
    }
  }

  .img-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .images-slider.slick-slider {
      .slick-dots {
        margin-top: 74px
      }

      .slick-slide img {
        width: 307px;
      }
    }
  }
}

.accessory-top {
  padding: 56px 0 125px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-white;
  background-color: $color-gray;

  h2 {
    margin-bottom: 54px;
    color: $color-white;
  }

  .link {
    margin-bottom: 0;
  }
}

.accessory-list {
  padding: 34px 0 32px;
}

.home-app-store {
  padding: 150px 0 129px;

  .img {
    margin-bottom: 20px;
  }

  .main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    h2 {
      margin-bottom: 60px;
    }

    .apps {
      margin: 30px -15px 0;
      display: flex;
      justify-content: space-between;

      .app-img {
        margin: 0 15px;
      }
    }
  }
}

.testimonial-top {
  padding: 4.1vw 0 15vw;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-white;
  background-color: $color-gray;

  h2 {
    margin-bottom: 50px;
    color: $color-white;
  }

  .link {
    margin-bottom: 0;
  }
}

.testimonial-list {
  margin-top: -60px;
  padding-bottom: 20px;
}

.home-cards {
  padding: 63px 0 70px;

  h2 {
    margin-bottom: 52px;
  }

  .home-card-description{

    p{
      margin-bottom: 14px;
      line-height: 1.5;
    }

    .highlight{
      color: $color-blue;
      font-weight: 800;
      font-size: 2rem;
      margin-bottom: 0;
    }

  }

  .pearl-card-list {
    .row > div {
      margin-top: 30px;
    }
  }
}

@include mobile() {
  .home-about {
    padding: 50px 0 100px;

    .main-text {
      .text {
        max-width: 100%;

        p:last-child {
          &:not(.link) {
            margin-top: 0;
          }
        }
      }

      h2 {
        margin-top: 22px;
        margin-bottom: 32px;
      }
    }

    .img-right {
      .images-slider.slick-slider {
        .slick-dots {
          margin-top: 50px
        }
      }
    }
  }

  .accessory-top {
    padding: 50px 0 100px;
    background-position: left center;

    h2 {
      margin-bottom: 30px;
    }
  }

  .home-app-store {
    padding: 40px 0 100px;

    .main-text {
      h2 {
        margin-bottom: 30px;
      }

      .apps {
        display: block;
        margin: 0;

        .app-img {
          display: block;
          width: fit-content;
          margin: 15px auto 0;
          padding: 0;
          text-align: center;
        }
      }
    }
  }

  .testimonial-top {
    padding: 50px 0 100px;

    h2 {
      margin-bottom: 30px;
    }
  }

  .testimonial-list {
    padding-bottom: 0;
  }

  .home-cards {
    padding: 20px 0 100px;

    h2 {
      margin-bottom: 30px;
    }
  }
}

@include mobile-sm() {
  .home-page {
    section .btn {
      width: 100%;
    }
  }
}
