{# Model - Generated from home.json #}
    {% set pageData = {
  "pageHero": {
    "imgSrc": pageData.pageHero.imgSrc,
    "imgSrcTablet": pageData.pageHero.imgSrcTablet,
    "imgSrcMobile": pageData.pageHero.imgSrcMobile,
    "title": pageData.pageHero.title,
    "subTitle": pageData.pageHero.subTitle,
    "description": pageData.pageHero.description,
    "btnText": pageData.pageHero.btnText,
    "btnLink": pageData.pageHero.btnLink
  },
  "sectionAbout": {
    "logo": pageData.sectionAbout.logo,
    "title": pageData.sectionAbout.title,
    "text": pageData.sectionAbout.text,
    "btnText": pageData.sectionAbout.btnText,
    "btnLink": pageData.sectionAbout.btnLink,
    "sliderImages": pageData.sectionAbout.sliderImages
  },
  "sectionAccessory": {
    "title": pageData.sectionAccessory.title,
    "backgroundImage": pageData.sectionAccessory.backgroundImage,
    "btnText": pageData.sectionAccessory.btnText,
    "btnLink": pageData.sectionAccessory.btnLink,
    "accessoryList": pageData.sectionAccessory.accessoryList
  },
  "sectionMobileApp": {
    "title": pageData.sectionMobileApp.title,
    "description": pageData.sectionMobileApp.description,
    "imgSrc": pageData.sectionMobileApp.imgSrc,
    "downloadLink": pageData.sectionMobileApp.downloadLink
  },
  "sectionTestimonials": {
    "title": pageData.sectionTestimonials.title,
    "backgroundImage": pageData.sectionTestimonials.backgroundImage,
    "btnText": pageData.sectionTestimonials.btnText,
    "btnLink": pageData.sectionTestimonials.btnLink,
    "testimonialList": pageData.sectionTestimonials.testimonialList
  },
  "sectionSubscription": {
    "title": pageData.sectionSubscription.title,
    "description": pageData.sectionSubscription.description,
    "highlightText": pageData.sectionSubscription.highlightText,
    "subscriptionTypes": pageData.sectionSubscription.subscriptionTypes
  }
}%}

{% include "@views/pages/home/home.twig" %}
  